openapi: 3.1.0
info:
  title: MaxPosty API
  version: 1.0.0
  description: |
    Canonical HTTP contract shared by the MaxPosty backend and frontend.
    Browser sessions are carried by the secure `maxstudio_session` cookie.
servers:
  - url: https://api.maxposty.ru/api/v1
    description: Production
  - url: http://localhost:8080/api/v1
    description: Local development
tags:
  - name: Authentication
  - name: Channels
  - name: Posts
  - name: Analytics
  - name: AI
  - name: Integration
paths:
  /health:
    get:
      operationId: getHealth
      summary: Return service and browser-session status
      responses:
        '200':
          description: Service status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthStatus'
        default:
          $ref: '#/components/responses/Problem'
  /auth/yandex/start:
    post:
      tags: [Authentication]
      operationId: startYandexLogin
      summary: Start Yandex ID login
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoginStart'
      responses:
        '200':
          description: Authorization URL
          content:
            application/json:
              schema:
                type: object
                required: [authorization_url]
                properties:
                  authorization_url:
                    type: string
                    format: uri
        default:
          $ref: '#/components/responses/Problem'
  /auth/max/start:
    post:
      tags: [Authentication]
      operationId: startMaxLogin
      summary: Start MAX contact login
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoginStart'
      responses:
        '201':
          description: Login attempt
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MaxLoginAttempt'
        default:
          $ref: '#/components/responses/Problem'
  /auth/max/{request_id}/complete:
    parameters:
      - $ref: '#/components/parameters/RequestId'
    post:
      tags: [Authentication]
      operationId: completeMaxLogin
      summary: Poll a MAX contact login attempt
      responses:
        '200':
          description: Current login attempt
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MaxLoginAttempt'
        default:
          $ref: '#/components/responses/Problem'
  /auth/max/{request_id}:
    parameters:
      - $ref: '#/components/parameters/RequestId'
    delete:
      tags: [Authentication]
      operationId: cancelMaxLogin
      summary: Cancel a MAX login attempt
      responses:
        '204':
          description: Attempt cancelled
        default:
          $ref: '#/components/responses/Problem'
  /auth/logout:
    post:
      tags: [Authentication]
      operationId: logout
      summary: Close the browser session
      responses:
        '204':
          description: Session closed
        default:
          $ref: '#/components/responses/Problem'
  /channels:
    get:
      tags: [Channels]
      operationId: listChannels
      summary: List channels owned by the current user
      security:
        - sessionCookie: []
      responses:
        '200':
          description: Channels
          content:
            application/json:
              schema:
                type: object
                required: [channels]
                properties:
                  channels:
                    type: array
                    items:
                      $ref: '#/components/schemas/Channel'
        default:
          $ref: '#/components/responses/Problem'
  /channels/discoverable:
    get:
      tags: [Channels]
      operationId: listDiscoverableChannels
      summary: List channels associated with the linked MAX identity
      security:
        - sessionCookie: []
      responses:
        '200':
          description: Discoverable channels
          content:
            application/json:
              schema:
                type: object
                required: [channels]
                properties:
                  channels:
                    type: array
                    items:
                      $ref: '#/components/schemas/DiscoverableChannel'
        default:
          $ref: '#/components/responses/Problem'
  /channels/discoverable/refresh:
    post:
      tags: [Channels]
      operationId: refreshDiscoverableChannels
      summary: Refresh channel inventory from MAX
      security:
        - sessionCookie: []
      responses:
        '200':
          description: Refresh result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DiscoverableChannelRefresh'
        default:
          $ref: '#/components/responses/Problem'
  /channels/connect/observed:
    post:
      tags: [Channels]
      operationId: connectDiscoverableChannel
      summary: Connect a verified discovered channel
      security:
        - sessionCookie: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [max_chat_id]
              properties:
                max_chat_id:
                  type: string
      responses:
        '201':
          description: Connected channel
          content:
            application/json:
              schema:
                type: object
                required: [channel]
                properties:
                  channel:
                    $ref: '#/components/schemas/Channel'
                  diagnostics:
                    $ref: '#/components/schemas/ChannelDiagnostics'
        default:
          $ref: '#/components/responses/Problem'
  /channels/connect/start:
    post:
      tags: [Channels]
      operationId: startChannelConnection
      summary: Start proof of channel ownership
      security:
        - sessionCookie: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                max_chat_id:
                  type: string
                public_link:
                  type: string
                  format: uri
              minProperties: 1
      responses:
        '201':
          description: Channel connection claim
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChannelConnectionClaimEnvelope'
        default:
          $ref: '#/components/responses/Problem'
  /channels/connect/{claim_id}:
    parameters:
      - name: claim_id
        in: path
        required: true
        schema:
          type: string
          maxLength: 128
    get:
      tags: [Channels]
      operationId: getChannelConnection
      summary: Poll channel ownership proof
      security:
        - sessionCookie: []
      responses:
        '200':
          description: Current claim
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChannelConnectionClaimEnvelope'
        default:
          $ref: '#/components/responses/Problem'
  /channels/{id}/test:
    parameters:
      - $ref: '#/components/parameters/Id'
    post:
      tags: [Channels]
      operationId: testChannel
      summary: Verify the bot permissions for a channel
      security:
        - sessionCookie: []
      responses:
        '200':
          description: Verification result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TestResult'
        default:
          $ref: '#/components/responses/Problem'
  /channels/{id}:
    parameters:
      - $ref: '#/components/parameters/Id'
    delete:
      tags: [Channels]
      operationId: deleteChannel
      summary: Disconnect a channel
      security:
        - sessionCookie: []
      responses:
        '204':
          description: Channel disconnected
        default:
          $ref: '#/components/responses/Problem'
  /analytics:
    get:
      tags: [Analytics]
      operationId: getAnalytics
      summary: Return channel analytics for a date range
      security:
        - sessionCookie: []
      parameters:
        - name: channel_id
          in: query
          required: true
          schema:
            type: integer
            format: int64
            minimum: 1
        - name: from
          in: query
          schema:
            type: string
            format: date
        - name: to
          in: query
          schema:
            type: string
            format: date
      responses:
        '200':
          description: Analytics report
          content:
            application/json:
              schema:
                type: object
                required: [analytics]
                properties:
                  analytics:
                    $ref: '#/components/schemas/ChannelAnalytics'
        default:
          $ref: '#/components/responses/Problem'
  /posts:
    get:
      tags: [Posts]
      operationId: listPosts
      summary: List posts in the current workspace
      security:
        - sessionCookie: []
      parameters:
        - name: channel_id
          in: query
          schema:
            type: integer
            format: int64
            minimum: 1
        - name: status
          in: query
          schema:
            $ref: '#/components/schemas/PostStatus'
      responses:
        '200':
          description: Posts
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Post'
        default:
          $ref: '#/components/responses/Problem'
    post:
      tags: [Posts]
      operationId: createPost
      summary: Create a draft
      security:
        - sessionCookie: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EditablePost'
      responses:
        '201':
          description: Created post
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Post'
        default:
          $ref: '#/components/responses/Problem'
  /posts/format-content:
    post:
      tags: [AI]
      operationId: formatPostContent
      summary: Format plain text while preserving meaning
      security:
        - sessionCookie: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [content, format]
              properties:
                content:
                  type: string
                  minLength: 1
                  maxLength: 4000
                format:
                  $ref: '#/components/schemas/PostFormat'
      responses:
        '200':
          description: Formatted content
          content:
            application/json:
              schema:
                type: object
                required: [content]
                properties:
                  content:
                    type: string
        default:
          $ref: '#/components/responses/Problem'
  /posts/{id}:
    parameters:
      - $ref: '#/components/parameters/Id'
    get:
      tags: [Posts]
      operationId: getPost
      summary: Get one post
      security:
        - sessionCookie: []
      responses:
        '200':
          description: Post
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Post'
        default:
          $ref: '#/components/responses/Problem'
    put:
      tags: [Posts]
      operationId: replacePost
      summary: Save editable post fields
      security:
        - sessionCookie: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostUpdate'
      responses:
        '200':
          description: Saved post
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Post'
        default:
          $ref: '#/components/responses/Problem'
    patch:
      tags: [Posts]
      operationId: updatePost
      summary: Save selected editable post fields
      security:
        - sessionCookie: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostUpdate'
      responses:
        '200':
          description: Saved post
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Post'
        default:
          $ref: '#/components/responses/Problem'
    delete:
      tags: [Posts]
      operationId: deletePost
      summary: Delete a local post
      security:
        - sessionCookie: []
      responses:
        '204':
          description: Post deleted
        default:
          $ref: '#/components/responses/Problem'
  /posts/{id}/duplicate:
    post:
      tags: [Posts]
      operationId: duplicatePost
      parameters:
        - $ref: '#/components/parameters/Id'
      security:
        - sessionCookie: []
      responses:
        '201':
          $ref: '#/components/responses/Post'
        default:
          $ref: '#/components/responses/Problem'
  /posts/{id}/generate-image:
    post:
      tags: [AI]
      operationId: generatePostImage
      summary: Generate and attach a post image
      parameters:
        - $ref: '#/components/parameters/Id'
      security:
        - sessionCookie: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenerateImageInput'
      responses:
        '200':
          $ref: '#/components/responses/Post'
        default:
          $ref: '#/components/responses/Problem'
  /posts/{id}/image:
    post:
      tags: [Posts]
      operationId: uploadPostImage
      summary: Upload and attach an image
      parameters:
        - $ref: '#/components/parameters/Id'
      security:
        - sessionCookie: []
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required: [file]
              properties:
                file:
                  type: string
                  format: binary
      responses:
        '200':
          $ref: '#/components/responses/Post'
        default:
          $ref: '#/components/responses/Problem'
  /posts/{id}/attachments:
    post:
      tags: [Posts]
      operationId: uploadPostAttachment
      summary: Upload one image or video into the ordered post gallery
      parameters:
        - $ref: '#/components/parameters/Id'
      security:
        - sessionCookie: []
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required: [file]
              properties:
                file:
                  type: string
                  format: binary
                type:
                  type: string
                  enum: [image, video]
                  description: Inferred from the filename when omitted.
                position:
                  type: integer
                  minimum: 0
                  maximum: 11
                  description: Zero-based insertion position; appends when omitted.
      responses:
        '201':
          $ref: '#/components/responses/PostAttachmentMutation'
        default:
          $ref: '#/components/responses/Problem'
  /posts/{id}/attachments/{attachment_id}:
    put:
      tags: [Posts]
      operationId: replacePostAttachment
      summary: Replace one attachment while preserving its id and position
      parameters:
        - $ref: '#/components/parameters/Id'
        - $ref: '#/components/parameters/AttachmentId'
      security:
        - sessionCookie: []
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required: [file]
              properties:
                file:
                  type: string
                  format: binary
                type:
                  type: string
                  enum: [image, video]
                  description: Inferred from the filename when omitted.
      responses:
        '200':
          $ref: '#/components/responses/PostAttachmentMutation'
        default:
          $ref: '#/components/responses/Problem'
    delete:
      tags: [Posts]
      operationId: deletePostAttachment
      summary: Remove one attachment and compact the remaining order
      parameters:
        - $ref: '#/components/parameters/Id'
        - $ref: '#/components/parameters/AttachmentId'
      security:
        - sessionCookie: []
      responses:
        '200':
          $ref: '#/components/responses/Post'
        default:
          $ref: '#/components/responses/Problem'
  /posts/{id}/attachments/order:
    patch:
      tags: [Posts]
      operationId: reorderPostAttachments
      summary: Replace the complete attachment order
      parameters:
        - $ref: '#/components/parameters/Id'
      security:
        - sessionCookie: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [attachment_ids]
              properties:
                attachment_ids:
                  type: array
                  maxItems: 12
                  uniqueItems: true
                  items:
                    type: integer
                    format: int64
                    minimum: 1
      responses:
        '200':
          $ref: '#/components/responses/Post'
        default:
          $ref: '#/components/responses/Problem'
  /posts/{id}/publish:
    post:
      tags: [Posts]
      operationId: publishPost
      summary: Publish a post immediately
      parameters:
        - $ref: '#/components/parameters/Id'
      security:
        - sessionCookie: []
      responses:
        '200':
          $ref: '#/components/responses/Post'
        default:
          $ref: '#/components/responses/Problem'
  /posts/{id}/schedule:
    post:
      tags: [Posts]
      operationId: schedulePost
      summary: Schedule a post for a future time
      parameters:
        - $ref: '#/components/parameters/Id'
      security:
        - sessionCookie: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [scheduled_at]
              properties:
                scheduled_at:
                  type: string
                  format: date-time
      responses:
        '200':
          $ref: '#/components/responses/Post'
        default:
          $ref: '#/components/responses/Problem'
  /posts/{id}/cancel-schedule:
    post:
      tags: [Posts]
      operationId: cancelPostSchedule
      parameters:
        - $ref: '#/components/parameters/Id'
      security:
        - sessionCookie: []
      responses:
        '200':
          $ref: '#/components/responses/Post'
        default:
          $ref: '#/components/responses/Problem'
  /posts/{id}/update-published:
    post:
      tags: [Posts]
      operationId: updatePublishedPost
      parameters:
        - $ref: '#/components/parameters/Id'
      security:
        - sessionCookie: []
      responses:
        '200':
          $ref: '#/components/responses/Post'
        default:
          $ref: '#/components/responses/Problem'
  /posts/{id}/sync-max:
    post:
      tags: [Posts]
      operationId: syncMaxPost
      parameters:
        - $ref: '#/components/parameters/Id'
      security:
        - sessionCookie: []
      responses:
        '200':
          $ref: '#/components/responses/Post'
        default:
          $ref: '#/components/responses/Problem'
  /posts/{id}/pin:
    parameters:
      - $ref: '#/components/parameters/Id'
    post:
      tags: [Posts]
      operationId: pinPost
      security:
        - sessionCookie: []
      responses:
        '200':
          $ref: '#/components/responses/Post'
        default:
          $ref: '#/components/responses/Problem'
    delete:
      tags: [Posts]
      operationId: unpinPost
      security:
        - sessionCookie: []
      responses:
        '200':
          $ref: '#/components/responses/Post'
        default:
          $ref: '#/components/responses/Problem'
  /posts/{id}/publication:
    delete:
      tags: [Posts]
      operationId: deletePublication
      parameters:
        - $ref: '#/components/parameters/Id'
      security:
        - sessionCookie: []
      responses:
        '200':
          $ref: '#/components/responses/Post'
        default:
          $ref: '#/components/responses/Problem'
  /research/generate:
    post:
      tags: [AI]
      operationId: generateResearch
      summary: Research a topic and prepare a post draft
      security:
        - sessionCookie: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ResearchInput'
      responses:
        '200':
          description: Research result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResearchResult'
        default:
          $ref: '#/components/responses/Problem'
  /integration/max:
    get:
      tags: [Integration]
      operationId: getMaxIntegration
      security:
        - sessionCookie: []
      responses:
        '200':
          description: MAX integration status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IntegrationStatus'
        default:
          $ref: '#/components/responses/Problem'
  /integration/max/test:
    post:
      tags: [Integration]
      operationId: testMaxIntegration
      security:
        - sessionCookie: []
      responses:
        '200':
          description: Integration test result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TestResult'
        default:
          $ref: '#/components/responses/Problem'
  /integration/max/identity:
    get:
      tags: [Integration]
      operationId: getMaxIdentity
      security:
        - sessionCookie: []
      responses:
        '200':
          description: MAX identity status
          content:
            application/json:
              schema:
                type: object
                required: [identity]
                properties:
                  identity:
                    $ref: '#/components/schemas/MaxIdentity'
        default:
          $ref: '#/components/responses/Problem'
    post:
      tags: [Integration]
      operationId: startMaxIdentityLink
      security:
        - sessionCookie: []
      responses:
        '201':
          description: MAX identity link attempt
          content:
            application/json:
              schema:
                type: object
                required: [identity]
                properties:
                  identity:
                    $ref: '#/components/schemas/MaxIdentity'
        default:
          $ref: '#/components/responses/Problem'
components:
  securitySchemes:
    sessionCookie:
      type: apiKey
      in: cookie
      name: maxstudio_session
  parameters:
    Id:
      name: id
      in: path
      required: true
      schema:
        type: integer
        format: int64
        minimum: 1
    RequestId:
      name: request_id
      in: path
      required: true
      schema:
        type: string
        maxLength: 128
        pattern: '^[A-Za-z0-9_-]+$'
    AttachmentId:
      name: attachment_id
      in: path
      required: true
      schema:
        type: integer
        format: int64
        minimum: 1
  responses:
    Problem:
      description: Request failed
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ProblemEnvelope'
    Post:
      description: Updated post
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Post'
    PostAttachment:
      description: Uploaded or replaced attachment
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/PostAttachment'
    PostAttachmentMutation:
      description: Uploaded or replaced attachment together with the latest post revision
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/PostAttachmentMutation'
  schemas:
    ProblemEnvelope:
      type: object
      required: [error]
      properties:
        error:
          $ref: '#/components/schemas/Problem'
    Problem:
      type: object
      required: [code, message]
      properties:
        code:
          type: string
        message:
          type: string
        details: {}
    LoginStart:
      type: object
      required: [return_to, terms_accepted, personal_data_accepted]
      properties:
        return_to:
          type: string
          maxLength: 1024
        terms_accepted:
          type: boolean
          const: true
        personal_data_accepted:
          type: boolean
          const: true
    AuthMethod:
      type: string
      enum: [none, yandex, max]
    AuthProvider:
      type: string
      enum: [yandex, max]
    AuthUser:
      type: object
      required: [id, provider, display_name]
      properties:
        id:
          type: string
        provider:
          $ref: '#/components/schemas/AuthProvider'
        display_name:
          type: string
        login:
          type: string
        avatar_url:
          type: string
          format: uri
    HealthStatus:
      type: object
      required:
        - status
        - max_configured
        - openai_configured
        - auth_required
        - authenticated
      properties:
        status:
          type: string
          const: ok
        max_configured:
          type: boolean
        openai_configured:
          type: boolean
        research_configured:
          type: boolean
        content_formatting_configured:
          type: boolean
        observability_access:
          type: boolean
        auth_required:
          type: boolean
        authenticated:
          type: boolean
        auth_methods:
          type: object
          properties:
            yandex:
              type: boolean
            max:
              type: boolean
        auth_method:
          $ref: '#/components/schemas/AuthMethod'
        user:
          oneOf:
            - $ref: '#/components/schemas/AuthUser'
            - type: 'null'
        session_expires_at:
          type: [string, 'null']
          format: date-time
    MaxLoginStatus:
      type: string
      enum: [pending, awaiting_contact, authenticated, expired, canceled, failed]
    MaxLoginAttempt:
      type: object
      required: [request_id, status]
      properties:
        request_id:
          type: string
        status:
          $ref: '#/components/schemas/MaxLoginStatus'
        bot_url:
          type: [string, 'null']
          format: uri
        comparison_code:
          type: [string, 'null']
          pattern: '^\d{6}$'
        expires_at:
          type: [string, 'null']
          format: date-time
        error_code:
          type: [string, 'null']
        message:
          type: [string, 'null']
    Channel:
      type: object
      required:
        - id
        - max_chat_id
        - title
        - participants_count
        - is_channel
        - active
      properties:
        id:
          type: integer
          format: int64
        max_chat_id:
          type: string
        title:
          type: string
        public_link:
          type: string
          format: uri
        icon_url:
          type: string
        participants_count:
          type: integer
          minimum: 0
        is_channel:
          type: boolean
        active:
          type: boolean
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    DiscoverableChannel:
      type: object
      required: [max_chat_id, title, connected]
      properties:
        max_chat_id:
          type: string
        title:
          type: string
        public_link:
          type: string
          format: uri
        icon_url:
          type: string
        participants_count:
          type: integer
          minimum: 0
        owner_verified:
          type: boolean
        connected:
          type: boolean
        connected_channel_id:
          type: [integer, 'null']
          format: int64
    DiscoverableChannelRefresh:
      type: object
      required: [channels, refreshed, failed]
      properties:
        channels:
          type: array
          items:
            $ref: '#/components/schemas/DiscoverableChannel'
        refreshed:
          type: integer
          minimum: 0
        failed:
          type: integer
          minimum: 0
    ChannelDiagnostics:
      type: object
      required:
        - chat_id
        - type
        - status
        - is_admin
        - permissions
        - can_publish
        - can_edit
        - can_delete
        - missing_required_permissions
      properties:
        chat_id:
          type: string
        type:
          type: string
        status:
          type: string
        is_admin:
          type: boolean
        permissions:
          type: array
          items:
            type: string
        can_publish:
          type: boolean
        can_edit:
          type: boolean
        can_delete:
          type: boolean
        missing_required_permissions:
          type: array
          items:
            type: string
    ChannelConnectionStatus:
      type: string
      enum: [pending, identity_verified, connected, expired, failed]
    ChannelConnectionClaim:
      type: object
      required: [claim_id, status]
      properties:
        claim_id:
          type: string
        status:
          $ref: '#/components/schemas/ChannelConnectionStatus'
        expires_at:
          type: [string, 'null']
          format: date-time
        bot_url:
          type: [string, 'null']
          format: uri
        comparison_code:
          type: [string, 'null']
        requester_label:
          type: [string, 'null']
        bot_name:
          type: [string, 'null']
        bot_username:
          type: [string, 'null']
        message:
          type: [string, 'null']
        channel:
          oneOf:
            - $ref: '#/components/schemas/Channel'
            - type: 'null'
    ChannelConnectionClaimEnvelope:
      type: object
      required: [claim]
      properties:
        claim:
          $ref: '#/components/schemas/ChannelConnectionClaim'
    PostFormat:
      type: string
      enum: [markdown, html]
    PostStatus:
      type: string
      enum: [draft, scheduled, publishing, published, failed]
    PostLinkButton:
      type: object
      required: [text, url]
      properties:
        text:
          type: string
          minLength: 1
          maxLength: 64
        url:
          type: string
          format: uri
    PostAttachment:
      type: object
      required:
        - id
        - type
        - position
        - url
        - processing_status
        - size_bytes
        - mime_type
        - created_at
        - updated_at
      properties:
        id:
          type: integer
          format: int64
        type:
          type: string
          enum: [image, video]
        position:
          type: integer
          minimum: 0
          maximum: 11
        url:
          type: string
        processing_status:
          type: string
          enum: [uploading, processing, ready, failed]
        size_bytes:
          type: integer
          format: int64
          minimum: 0
        mime_type:
          type: string
        width:
          type: [integer, 'null']
          minimum: 1
        height:
          type: [integer, 'null']
          minimum: 1
        duration_ms:
          type: [integer, 'null']
          format: int64
          minimum: 0
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    PostAttachmentMutation:
      type: object
      required: [attachment, post]
      properties:
        attachment:
          $ref: '#/components/schemas/PostAttachment'
        post:
          $ref: '#/components/schemas/Post'
    EditablePost:
      type: object
      properties:
        title:
          type: string
          maxLength: 200
        content:
          type: string
          maxLength: 4000
        format:
          $ref: '#/components/schemas/PostFormat'
        channel_id:
          type: [integer, 'null']
          format: int64
        image_url:
          type: [string, 'null']
        image_prompt:
          type: [string, 'null']
        link_buttons:
          type: array
          maxItems: 3
          items:
            $ref: '#/components/schemas/PostLinkButton'
        notify:
          type: boolean
        disable_link_preview:
          type: boolean
        scheduled_at:
          type: [string, 'null']
          format: date-time
    PostUpdate:
      allOf:
        - $ref: '#/components/schemas/EditablePost'
        - type: object
          properties:
            expected_updated_at:
              type: string
              format: date-time
    Post:
      type: object
      required:
        - id
        - title
        - content
        - format
        - status
        - attachments
        - link_buttons
        - notify
        - disable_link_preview
        - max_is_pinned
        - created_at
        - updated_at
      properties:
        id:
          type: integer
          format: int64
        title:
          type: string
        content:
          type: string
        format:
          $ref: '#/components/schemas/PostFormat'
        status:
          $ref: '#/components/schemas/PostStatus'
        channel_id:
          type: [integer, 'null']
          format: int64
        image_url:
          type: [string, 'null']
        image_prompt:
          type: [string, 'null']
        attachments:
          type: array
          maxItems: 12
          items:
            $ref: '#/components/schemas/PostAttachment'
        link_buttons:
          type: array
          items:
            $ref: '#/components/schemas/PostLinkButton'
        notify:
          type: boolean
        disable_link_preview:
          type: boolean
        scheduled_at:
          type: [string, 'null']
          format: date-time
        max_message_id:
          type: [string, 'null']
        max_message_url:
          type: [string, 'null']
          format: uri
        max_views:
          type: [integer, 'null']
          format: int64
          minimum: 0
        max_stats_synced_at:
          type: [string, 'null']
          format: date-time
        max_is_pinned:
          type: boolean
        last_error:
          type: [string, 'null']
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        published_at:
          type: [string, 'null']
          format: date-time
    GenerateImageInput:
      type: object
      required: [prompt, size, quality]
      properties:
        prompt:
          type: string
          minLength: 1
          maxLength: 2000
        size:
          type: string
          enum: [1024x1024, 1536x1024, 1024x1536]
        quality:
          type: string
          enum: [low, medium, high]
    AnalyticsPeriod:
      type: object
      required: [from, to]
      properties:
        from:
          type: string
          format: date
        to:
          type: string
          format: date
    AnalyticsSummary:
      type: object
      required: [posts_total, published_posts, total_views]
      properties:
        posts_total:
          type: integer
          minimum: 0
        published_posts:
          type: integer
          minimum: 0
        total_views:
          type: [integer, 'null']
          format: int64
        participants_current:
          type: [integer, 'null']
        participants_change:
          type: [integer, 'null']
        views_change:
          type: [integer, 'null']
    AnalyticsDailyPoint:
      type: object
      required: [date]
      properties:
        date:
          type: string
          format: date
        views:
          type: [integer, 'null']
        views_total:
          type: [integer, 'null']
        participants_count:
          type: [integer, 'null']
    AnalyticsPost:
      type: object
      required: [id, title]
      properties:
        id:
          type: integer
          format: int64
        title:
          type: string
        published_at:
          type: [string, 'null']
          format: date-time
        views:
          type: [integer, 'null']
        max_message_url:
          type: [string, 'null']
          format: uri
        max_stats_synced_at:
          type: [string, 'null']
          format: date-time
        publication_state:
          type: [string, 'null']
        removed_from_max:
          type: boolean
    ChannelAnalytics:
      type: object
      required: [channel, period, summary, daily, posts]
      properties:
        channel:
          $ref: '#/components/schemas/Channel'
        period:
          $ref: '#/components/schemas/AnalyticsPeriod'
        summary:
          $ref: '#/components/schemas/AnalyticsSummary'
        daily:
          type: array
          items:
            $ref: '#/components/schemas/AnalyticsDailyPoint'
        posts:
          type: array
          items:
            $ref: '#/components/schemas/AnalyticsPost'
    ResearchInput:
      type: object
      required: [topic, tone, format, include_sources]
      properties:
        topic:
          type: string
          minLength: 1
          maxLength: 500
        angle:
          type: string
        audience:
          type: string
        tone:
          type: string
        format:
          $ref: '#/components/schemas/PostFormat'
        include_sources:
          type: boolean
    ResearchSource:
      type: object
      required: [title, url]
      properties:
        title:
          type: string
        url:
          type: string
          format: uri
    ResearchDraft:
      type: object
      required: [title, content, format, image_prompt]
      properties:
        title:
          type: string
        content:
          type: string
        format:
          $ref: '#/components/schemas/PostFormat'
        image_prompt:
          type: string
    ResearchResult:
      type: object
      required: [topic, report, sources, draft]
      properties:
        topic:
          type: string
        report:
          type: string
        draft:
          $ref: '#/components/schemas/ResearchDraft'
        sources:
          type: array
          items:
            $ref: '#/components/schemas/ResearchSource'
    TestResult:
      type: object
      required: [ok]
      properties:
        ok:
          type: boolean
        message:
          type: string
        title:
          type: string
        channel:
          $ref: '#/components/schemas/Channel'
        diagnostics:
          $ref: '#/components/schemas/ChannelDiagnostics'
    IntegrationStatus:
      type: object
      required: [configured]
      properties:
        configured:
          type: boolean
        connected:
          type: boolean
        bot_name:
          type: string
        bot_username:
          type: string
        channel_count:
          type: integer
          minimum: 0
        last_error:
          type: [string, 'null']
        message:
          type: string
    MaxIdentityStatus:
      type: string
      enum: [unlinked, pending, awaiting_confirmation, linked, expired, failed]
    MaxIdentity:
      type: object
      required: [status]
      properties:
        status:
          $ref: '#/components/schemas/MaxIdentityStatus'
        request_id:
          type: [string, 'null']
        max_user_id:
          type: [string, 'null']
        bot_url:
          type: [string, 'null']
          format: uri
        expires_at:
          type: [string, 'null']
          format: date-time
        comparison_code:
          type: [string, 'null']
        requester_label:
          type: [string, 'null']
        error_code:
          type: [string, 'null']
        linked_at:
          type: [string, 'null']
          format: date-time
        message:
          type: [string, 'null']
