openapi: 3.1.0
info:
  title: MaxPosty API
  version: 1.0.0
  description: |
    Canonical HTTP contract shared by the MaxPosty backend and frontend.
    Browser sessions are carried by the secure `maxstudio_session` cookie.
servers:
  - url: https://api.maxposty.ru/api/v1
    description: Production
  - url: http://localhost:8080/api/v1
    description: Local development
tags:
  - name: Authentication
  - name: Channels
  - name: Posts
  - name: Analytics
  - name: AI
  - name: Integration
  - name: Workspaces
  - name: Billing
  - name: Collaboration
  - name: Notifications
  - name: Brand
  - name: Campaigns
paths:
  /health:
    get:
      operationId: getHealth
      summary: Return service and browser-session status
      responses:
        '200':
          description: Service status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthStatus'
        default:
          $ref: '#/components/responses/Problem'
  /plans:
    get:
      tags: [Billing]
      operationId: listPublicBillingPlans
      summary: List public and currently available plan versions
      description: Internal or unavailable future plans are never returned.
      responses:
        '200':
          description: Public Free, Author and Team plan catalog
          content:
            application/json:
              schema:
                type: array
                items: {$ref: '#/components/schemas/BillingCatalogEntry'}
        default: {$ref: '#/components/responses/Problem'}
  /webhooks/yookassa:
    post:
      tags: [Billing]
      operationId: receiveYooKassaWebhook
      summary: Receive a YooKassa payment status notification
      description: The payment object is always fetched canonically from YooKassa before reconciliation.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [event, object]
              properties:
                event:
                  type: string
                  enum: [payment.succeeded, payment.canceled, payment.waiting_for_capture]
                object:
                  type: object
                  required: [id]
                  properties:
                    id: {type: string, pattern: '^[A-Za-z0-9][A-Za-z0-9_-]{0,127}$'}
      responses:
        '200':
          description: Notification acknowledged
          content:
            application/json:
              schema:
                type: object
                required: [ok]
                properties:
                  ok: {type: boolean}
        '400': {$ref: '#/components/responses/Problem'}
        '429': {$ref: '#/components/responses/Problem'}
        default: {$ref: '#/components/responses/Problem'}
  /auth/yandex/start:
    post:
      tags: [Authentication]
      operationId: startYandexLogin
      summary: Start Yandex ID login
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoginStart'
      responses:
        '200':
          description: Authorization URL
          content:
            application/json:
              schema:
                type: object
                required: [authorization_url]
                properties:
                  authorization_url:
                    type: string
                    format: uri
        default:
          $ref: '#/components/responses/Problem'
  /auth/max/start:
    post:
      tags: [Authentication]
      operationId: startMaxLogin
      summary: Start MAX contact login
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoginStart'
      responses:
        '201':
          description: Login attempt
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MaxLoginAttempt'
        default:
          $ref: '#/components/responses/Problem'
  /auth/max/{request_id}/complete:
    parameters:
      - $ref: '#/components/parameters/RequestId'
    post:
      tags: [Authentication]
      operationId: completeMaxLogin
      summary: Poll a MAX contact login attempt
      responses:
        '200':
          description: Current login attempt
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MaxLoginAttempt'
        default:
          $ref: '#/components/responses/Problem'
  /auth/max/{request_id}:
    parameters:
      - $ref: '#/components/parameters/RequestId'
    delete:
      tags: [Authentication]
      operationId: cancelMaxLogin
      summary: Cancel a MAX login attempt
      responses:
        '204':
          description: Attempt cancelled
        default:
          $ref: '#/components/responses/Problem'
  /auth/logout:
    post:
      tags: [Authentication]
      operationId: logout
      summary: Close the browser session
      responses:
        '204':
          description: Session closed
        default:
          $ref: '#/components/responses/Problem'
  /channels:
    get:
      tags: [Channels]
      operationId: listChannels
      summary: List channels owned by the current user
      security:
        - sessionCookie: []
      responses:
        '200':
          description: Channels
          content:
            application/json:
              schema:
                type: object
                required: [channels]
                properties:
                  channels:
                    type: array
                    items:
                      $ref: '#/components/schemas/Channel'
        default:
          $ref: '#/components/responses/Problem'
  /channels/discoverable:
    get:
      tags: [Channels]
      operationId: listDiscoverableChannels
      summary: List channels associated with the linked MAX identity
      security:
        - sessionCookie: []
      responses:
        '200':
          description: Discoverable channels
          content:
            application/json:
              schema:
                type: object
                required: [channels]
                properties:
                  channels:
                    type: array
                    items:
                      $ref: '#/components/schemas/DiscoverableChannel'
        default:
          $ref: '#/components/responses/Problem'
  /channels/discoverable/refresh:
    post:
      tags: [Channels]
      operationId: refreshDiscoverableChannels
      summary: Refresh channel inventory from MAX
      security:
        - sessionCookie: []
      responses:
        '200':
          description: Refresh result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DiscoverableChannelRefresh'
        default:
          $ref: '#/components/responses/Problem'
  /channels/connect/observed:
    post:
      tags: [Channels]
      operationId: connectDiscoverableChannel
      summary: Connect a verified discovered channel
      security:
        - sessionCookie: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [max_chat_id]
              properties:
                max_chat_id:
                  type: string
      responses:
        '200':
          description: Connected channel
          content:
            application/json:
              schema:
                type: object
                required: [channel]
                properties:
                  channel:
                    $ref: '#/components/schemas/Channel'
                  diagnostics:
                    $ref: '#/components/schemas/ChannelDiagnostics'
        default:
          $ref: '#/components/responses/Problem'
  /channels/connect/start:
    post:
      tags: [Channels]
      operationId: startChannelConnection
      summary: Start proof of channel ownership
      security:
        - sessionCookie: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                max_chat_id:
                  type: string
                public_link:
                  type: string
                  format: uri
              minProperties: 1
      responses:
        '201':
          description: Channel connection claim
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChannelConnectionClaim'
        default:
          $ref: '#/components/responses/Problem'
  /channels/connect/{claim_id}:
    parameters:
      - name: claim_id
        in: path
        required: true
        schema:
          type: string
          maxLength: 128
    get:
      tags: [Channels]
      operationId: getChannelConnection
      summary: Poll channel ownership proof
      security:
        - sessionCookie: []
      responses:
        '200':
          description: Current claim
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChannelConnectionClaim'
        default:
          $ref: '#/components/responses/Problem'
  /channels/{id}/test:
    parameters:
      - $ref: '#/components/parameters/Id'
    post:
      tags: [Channels]
      operationId: testChannel
      summary: Verify the bot permissions for a channel
      security:
        - sessionCookie: []
      responses:
        '200':
          description: Verification result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TestResult'
        default:
          $ref: '#/components/responses/Problem'
  /channels/{id}:
    parameters:
      - $ref: '#/components/parameters/Id'
    delete:
      tags: [Channels]
      operationId: deleteChannel
      summary: Disconnect a channel
      parameters:
        - name: delete_content
          in: query
          required: false
          description: Delete every local post and campaign item linked to the channel after explicit user confirmation.
          schema: {type: boolean, default: false}
      security:
        - sessionCookie: []
      responses:
        '204':
          description: Channel disconnected
        default:
          $ref: '#/components/responses/Problem'
  /channels/{id}/max-info:
    parameters:
      - $ref: '#/components/parameters/Id'
    post:
      tags: [Channels]
      operationId: updateChannelMaxInfo
      summary: Change the channel photo and title in MAX itself
      description: >-
        Pushes a new icon and/or title to the MAX channel through the Bot API
        and refreshes the cached channel record. At least one of title or file
        is required. The channel description cannot be changed by bots.
      security:
        - sessionCookie: []
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                title: {type: string, minLength: 1, maxLength: 200}
                file: {type: string, format: binary}
                notify:
                  type: boolean
                  default: false
                  description: Send a MAX system notification about the title or photo change.
      responses:
        '200':
          description: Updated channel
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Channel'
        default:
          $ref: '#/components/responses/Problem'
  /channels/{id}/description/suggest:
    parameters:
      - $ref: '#/components/parameters/Id'
    post:
      tags: [Channels, AI]
      operationId: suggestChannelDescription
      summary: Suggest three channel description variants
      description: >-
        Uses the channel profile and up to eight recent published posts as
        untrusted editorial context. Nothing is saved or pushed to MAX.
      security:
        - sessionCookie: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChannelDescriptionSuggestionInput'
      responses:
        '200':
          description: Suggested descriptions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChannelDescriptionSuggestions'
        default:
          $ref: '#/components/responses/Problem'
  /analytics:
    get:
      tags: [Analytics]
      operationId: getAnalytics
      summary: Return channel analytics for a date range
      security:
        - sessionCookie: []
      parameters:
        - name: channel_id
          in: query
          required: true
          schema:
            type: integer
            format: int64
            minimum: 1
        - name: from
          in: query
          schema:
            type: string
            format: date
        - name: to
          in: query
          schema:
            type: string
            format: date
      responses:
        '200':
          description: Analytics report
          content:
            application/json:
              schema:
                type: object
                required: [analytics]
                properties:
                  analytics:
                    $ref: '#/components/schemas/ChannelAnalytics'
        default:
          $ref: '#/components/responses/Problem'
  /posts:
    get:
      tags: [Posts]
      operationId: listPosts
      summary: List posts in the current workspace
      security:
        - sessionCookie: []
      parameters:
        - name: channel_id
          in: query
          schema:
            type: integer
            format: int64
            minimum: 1
        - name: status
          in: query
          schema:
            $ref: '#/components/schemas/PostStatus'
      responses:
        '200':
          description: Posts
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Post'
        default:
          $ref: '#/components/responses/Problem'
    post:
      tags: [Posts]
      operationId: createPost
      summary: Create a draft
      security:
        - sessionCookie: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EditablePost'
      responses:
        '201':
          description: Created post
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Post'
        default:
          $ref: '#/components/responses/Problem'
  /posts/format-content:
    post:
      tags: [AI]
      operationId: formatPostContent
      summary: Format plain text while preserving meaning
      security:
        - sessionCookie: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [content, format]
              properties:
                content:
                  type: string
                  minLength: 1
                  maxLength: 4000
                format:
                  $ref: '#/components/schemas/PostFormat'
      responses:
        '200':
          description: Formatted content
          content:
            application/json:
              schema:
                type: object
                required: [content]
                properties:
                  content:
                    type: string
        default:
          $ref: '#/components/responses/Problem'
  /posts/suggest-image-prompt:
    post:
      tags: [AI]
      operationId: suggestImagePrompt
      summary: Suggest an image prompt from the post text
      security:
        - sessionCookie: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SuggestImagePromptInput'
      responses:
        '200':
          description: Suggested image prompt
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuggestedImagePrompt'
        default:
          $ref: '#/components/responses/Problem'
  /posts/{id}:
    parameters:
      - $ref: '#/components/parameters/Id'
    get:
      tags: [Posts]
      operationId: getPost
      summary: Get one post
      security:
        - sessionCookie: []
      responses:
        '200':
          description: Post
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Post'
        default:
          $ref: '#/components/responses/Problem'
    put:
      tags: [Posts]
      operationId: replacePost
      summary: Save editable post fields
      security:
        - sessionCookie: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostUpdate'
      responses:
        '200':
          description: Saved post
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Post'
        default:
          $ref: '#/components/responses/Problem'
    patch:
      tags: [Posts]
      operationId: updatePost
      summary: Save selected editable post fields
      security:
        - sessionCookie: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostUpdate'
      responses:
        '200':
          description: Saved post
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Post'
        default:
          $ref: '#/components/responses/Problem'
    delete:
      tags: [Posts]
      operationId: deletePost
      summary: Delete a local post
      security:
        - sessionCookie: []
      responses:
        '204':
          description: Post deleted
        default:
          $ref: '#/components/responses/Problem'
  /posts/{id}/duplicate:
    post:
      tags: [Posts]
      operationId: duplicatePost
      parameters:
        - $ref: '#/components/parameters/Id'
      security:
        - sessionCookie: []
      responses:
        '201':
          $ref: '#/components/responses/Post'
        default:
          $ref: '#/components/responses/Problem'
  /posts/{id}/generate-image:
    post:
      tags: [AI]
      operationId: generatePostImage
      summary: Generate and attach a post image
      parameters:
        - $ref: '#/components/parameters/Id'
      security:
        - sessionCookie: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GeneratePostImageInput'
      responses:
        '200':
          $ref: '#/components/responses/Post'
        default:
          $ref: '#/components/responses/Problem'
  /posts/{id}/image:
    post:
      tags: [Posts]
      operationId: uploadPostImage
      summary: Upload and attach an image
      parameters:
        - $ref: '#/components/parameters/Id'
      security:
        - sessionCookie: []
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required: [file]
              properties:
                file:
                  type: string
                  format: binary
      responses:
        '200':
          $ref: '#/components/responses/Post'
        default:
          $ref: '#/components/responses/Problem'
  /posts/{id}/attachments:
    post:
      tags: [Posts]
      operationId: uploadPostAttachment
      summary: Upload one image or video into the ordered post gallery
      parameters:
        - $ref: '#/components/parameters/Id'
      security:
        - sessionCookie: []
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required: [file]
              properties:
                file:
                  type: string
                  format: binary
                type:
                  type: string
                  enum: [image, video]
                  description: Inferred from the filename when omitted.
                position:
                  type: integer
                  minimum: 0
                  maximum: 11
                  description: Zero-based insertion position; appends when omitted.
      responses:
        '201':
          $ref: '#/components/responses/PostAttachmentMutation'
        default:
          $ref: '#/components/responses/Problem'
  /posts/{id}/attachments/{attachment_id}:
    put:
      tags: [Posts]
      operationId: replacePostAttachment
      summary: Replace one attachment while preserving its id and position
      parameters:
        - $ref: '#/components/parameters/Id'
        - $ref: '#/components/parameters/AttachmentId'
      security:
        - sessionCookie: []
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required: [file]
              properties:
                file:
                  type: string
                  format: binary
                type:
                  type: string
                  enum: [image, video]
                  description: Inferred from the filename when omitted.
      responses:
        '200':
          $ref: '#/components/responses/PostAttachmentMutation'
        default:
          $ref: '#/components/responses/Problem'
    delete:
      tags: [Posts]
      operationId: deletePostAttachment
      summary: Remove one attachment and compact the remaining order
      parameters:
        - $ref: '#/components/parameters/Id'
        - $ref: '#/components/parameters/AttachmentId'
      security:
        - sessionCookie: []
      responses:
        '200':
          $ref: '#/components/responses/Post'
        default:
          $ref: '#/components/responses/Problem'
  /posts/{id}/attachments/order:
    patch:
      tags: [Posts]
      operationId: reorderPostAttachments
      summary: Replace the complete attachment order
      parameters:
        - $ref: '#/components/parameters/Id'
      security:
        - sessionCookie: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [attachment_ids]
              properties:
                attachment_ids:
                  type: array
                  maxItems: 12
                  uniqueItems: true
                  items:
                    type: integer
                    format: int64
                    minimum: 1
      responses:
        '200':
          $ref: '#/components/responses/Post'
        default:
          $ref: '#/components/responses/Problem'
  /posts/{id}/publish:
    post:
      tags: [Posts]
      operationId: publishPost
      summary: Publish a post immediately
      parameters:
        - $ref: '#/components/parameters/Id'
      security:
        - sessionCookie: []
      responses:
        '200':
          $ref: '#/components/responses/Post'
        default:
          $ref: '#/components/responses/Problem'
  /posts/{id}/schedule:
    post:
      tags: [Posts]
      operationId: schedulePost
      summary: Schedule a post for a future time
      parameters:
        - $ref: '#/components/parameters/Id'
      security:
        - sessionCookie: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [scheduled_at]
              properties:
                scheduled_at:
                  type: string
                  format: date-time
      responses:
        '200':
          $ref: '#/components/responses/Post'
        default:
          $ref: '#/components/responses/Problem'
    put:
      tags: [Posts]
      operationId: schedulePostPut
      summary: Schedule a post for a future time
      description: Legacy alias for POST /posts/{id}/schedule.
      deprecated: true
      parameters:
        - $ref: '#/components/parameters/Id'
      security:
        - sessionCookie: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [scheduled_at]
              properties:
                scheduled_at:
                  type: string
                  format: date-time
      responses:
        '200':
          $ref: '#/components/responses/Post'
        default:
          $ref: '#/components/responses/Problem'
    delete:
      tags: [Posts]
      operationId: deletePostSchedule
      summary: Cancel a scheduled post
      description: Legacy alias for POST /posts/{id}/cancel-schedule.
      deprecated: true
      parameters:
        - $ref: '#/components/parameters/Id'
      security:
        - sessionCookie: []
      responses:
        '200':
          $ref: '#/components/responses/Post'
        default:
          $ref: '#/components/responses/Problem'
  /posts/{id}/cancel-schedule:
    post:
      tags: [Posts]
      operationId: cancelPostSchedule
      parameters:
        - $ref: '#/components/parameters/Id'
      security:
        - sessionCookie: []
      responses:
        '200':
          $ref: '#/components/responses/Post'
        default:
          $ref: '#/components/responses/Problem'
  /posts/{id}/update-published:
    post:
      tags: [Posts]
      operationId: updatePublishedPost
      parameters:
        - $ref: '#/components/parameters/Id'
      security:
        - sessionCookie: []
      responses:
        '200':
          $ref: '#/components/responses/Post'
        default:
          $ref: '#/components/responses/Problem'
  /posts/{id}/sync:
    post:
      tags: [Posts]
      operationId: syncPost
      description: Legacy alias for POST /posts/{id}/update-published.
      deprecated: true
      parameters:
        - $ref: '#/components/parameters/Id'
      security:
        - sessionCookie: []
      responses:
        '200':
          $ref: '#/components/responses/Post'
        default:
          $ref: '#/components/responses/Problem'
  /posts/{id}/sync-max:
    post:
      tags: [Posts]
      operationId: syncMaxPost
      parameters:
        - $ref: '#/components/parameters/Id'
      security:
        - sessionCookie: []
      responses:
        '200':
          $ref: '#/components/responses/Post'
        default:
          $ref: '#/components/responses/Problem'
  /posts/{id}/pin:
    parameters:
      - $ref: '#/components/parameters/Id'
    post:
      tags: [Posts]
      operationId: pinPost
      security:
        - sessionCookie: []
      responses:
        '200':
          $ref: '#/components/responses/Post'
        default:
          $ref: '#/components/responses/Problem'
    delete:
      tags: [Posts]
      operationId: unpinPost
      security:
        - sessionCookie: []
      responses:
        '200':
          $ref: '#/components/responses/Post'
        default:
          $ref: '#/components/responses/Problem'
  /posts/{id}/publication:
    delete:
      tags: [Posts]
      operationId: deletePublication
      parameters:
        - $ref: '#/components/parameters/Id'
      security:
        - sessionCookie: []
      responses:
        '200':
          $ref: '#/components/responses/Post'
        default:
          $ref: '#/components/responses/Problem'
  /posts/{id}/delete-publication:
    post:
      tags: [Posts]
      operationId: deletePublicationPost
      description: Legacy alias for DELETE /posts/{id}/publication.
      deprecated: true
      parameters:
        - $ref: '#/components/parameters/Id'
      security:
        - sessionCookie: []
      responses:
        '200':
          $ref: '#/components/responses/Post'
        default:
          $ref: '#/components/responses/Problem'
  /workspaces:
    get:
      tags: [Workspaces]
      operationId: listWorkspaces
      summary: List workspaces available to the current user with authoritative capabilities
      security: [{sessionCookie: []}]
      responses:
        '200': {$ref: '#/components/responses/WorkspaceList'}
        default: {$ref: '#/components/responses/Problem'}
    post:
      tags: [Workspaces]
      operationId: createWorkspace
      summary: Create a team workspace
      security: [{sessionCookie: []}]
      requestBody:
        required: true
        content:
          application/json:
            schema: {$ref: '#/components/schemas/WorkspaceCreate'}
      responses:
        '201': {$ref: '#/components/responses/WorkspaceEnvelope'}
        default: {$ref: '#/components/responses/Problem'}
  /workspace-invitations/{token}/accept:
    parameters: [{$ref: '#/components/parameters/InvitationToken'}]
    post:
      tags: [Workspaces]
      operationId: acceptWorkspaceInvitation
      security: [{sessionCookie: []}]
      responses:
        '200': {$ref: '#/components/responses/WorkspaceEnvelope'}
        default: {$ref: '#/components/responses/Problem'}
  /workspaces/{workspace_id}:
    parameters: [{$ref: '#/components/parameters/WorkspaceId'}]
    get:
      tags: [Workspaces]
      operationId: getWorkspace
      security: [{sessionCookie: []}]
      responses:
        '200': {$ref: '#/components/responses/WorkspaceEnvelope'}
        default: {$ref: '#/components/responses/Problem'}
    patch:
      tags: [Workspaces]
      operationId: updateWorkspace
      security: [{sessionCookie: []}]
      requestBody:
        required: true
        content:
          application/json:
            schema: {$ref: '#/components/schemas/WorkspaceUpdate'}
      responses:
        '200': {$ref: '#/components/responses/WorkspaceEnvelope'}
        default: {$ref: '#/components/responses/Problem'}
    delete:
      tags: [Workspaces]
      operationId: deleteWorkspace
      summary: Delete a non-personal workspace
      security: [{sessionCookie: []}]
      responses:
        '204': {description: Workspace deleted}
        default: {$ref: '#/components/responses/Problem'}
  /workspaces/{workspace_id}/transfer-ownership:
    parameters: [{$ref: '#/components/parameters/WorkspaceId'}]
    post:
      tags: [Workspaces]
      operationId: transferWorkspaceOwnership
      security: [{sessionCookie: []}]
      requestBody:
        required: true
        content:
          application/json:
            schema: {$ref: '#/components/schemas/WorkspaceTransfer'}
      responses:
        '200': {$ref: '#/components/responses/WorkspaceEnvelope'}
        default: {$ref: '#/components/responses/Problem'}
  /workspaces/{workspace_id}/billing:
    parameters: [{$ref: '#/components/parameters/WorkspaceId'}]
    get:
      tags: [Billing]
      operationId: getWorkspaceBilling
      summary: Read the workspace plan, entitlements and current usage
      description: |
        Requires workspace.read. Monthly AI usage is always observed. Hard
        monthly enforcement is enabled only when the deployment explicitly
        opts in; minute/day AI safety limits remain independent.
      security: [{sessionCookie: []}]
      responses:
        '200':
          description: Workspace subscription and tenant-scoped usage
          content:
            application/json:
              schema: {$ref: '#/components/schemas/WorkspaceBilling'}
        default: {$ref: '#/components/responses/Problem'}
  /workspaces/{workspace_id}/members:
    parameters: [{$ref: '#/components/parameters/WorkspaceId'}]
    get:
      tags: [Workspaces]
      operationId: listWorkspaceMembers
      security: [{sessionCookie: []}]
      responses:
        '200': {$ref: '#/components/responses/WorkspaceMemberList'}
        default: {$ref: '#/components/responses/Problem'}
    post:
      tags: [Workspaces]
      operationId: addWorkspaceMember
      security: [{sessionCookie: []}]
      requestBody:
        required: true
        content:
          application/json:
            schema: {$ref: '#/components/schemas/WorkspaceMemberCreate'}
      responses:
        '201': {$ref: '#/components/responses/WorkspaceMember'}
        default: {$ref: '#/components/responses/Problem'}
  /workspaces/{workspace_id}/members/{user_id}:
    parameters:
      - {$ref: '#/components/parameters/WorkspaceId'}
      - {$ref: '#/components/parameters/UserId'}
    patch:
      tags: [Workspaces]
      operationId: updateWorkspaceMember
      security: [{sessionCookie: []}]
      requestBody:
        required: true
        content:
          application/json:
            schema: {$ref: '#/components/schemas/WorkspaceRoleUpdate'}
      responses:
        '200': {$ref: '#/components/responses/WorkspaceMember'}
        default: {$ref: '#/components/responses/Problem'}
    delete:
      tags: [Workspaces]
      operationId: removeWorkspaceMember
      security: [{sessionCookie: []}]
      responses:
        '204': {description: Member removed}
        default: {$ref: '#/components/responses/Problem'}
  /workspaces/{workspace_id}/invitations:
    parameters: [{$ref: '#/components/parameters/WorkspaceId'}]
    get:
      tags: [Workspaces]
      operationId: listWorkspaceInvitations
      security: [{sessionCookie: []}]
      parameters:
        - name: include_closed
          in: query
          schema: {type: boolean, default: false}
      responses:
        '200': {$ref: '#/components/responses/WorkspaceInvitationList'}
        default: {$ref: '#/components/responses/Problem'}
    post:
      tags: [Workspaces]
      operationId: createWorkspaceInvitation
      description: The raw bearer token and accept URL are returned only by this response and are never listed later.
      security: [{sessionCookie: []}]
      requestBody:
        required: true
        content:
          application/json:
            schema: {$ref: '#/components/schemas/WorkspaceInvitationCreate'}
      responses:
        '201': {$ref: '#/components/responses/WorkspaceInvitationSecret'}
        default: {$ref: '#/components/responses/Problem'}
  /workspaces/{workspace_id}/invitations/{invitation_id}:
    parameters:
      - {$ref: '#/components/parameters/WorkspaceId'}
      - {$ref: '#/components/parameters/InvitationId'}
    delete:
      tags: [Workspaces]
      operationId: revokeWorkspaceInvitation
      security: [{sessionCookie: []}]
      responses:
        '204': {description: Invitation revoked}
        default: {$ref: '#/components/responses/Problem'}
  /workspaces/{workspace_id}/audit:
    parameters: [{$ref: '#/components/parameters/WorkspaceId'}]
    get:
      tags: [Collaboration]
      operationId: listWorkspaceAudit
      security: [{sessionCookie: []}]
      parameters:
        - {$ref: '#/components/parameters/Limit'}
        - {$ref: '#/components/parameters/BeforeId'}
      responses:
        '200': {$ref: '#/components/responses/AuditEventList'}
        default: {$ref: '#/components/responses/Problem'}
  /workspaces/{workspace_id}/channels:
    parameters: [{$ref: '#/components/parameters/WorkspaceId'}]
    get:
      tags: [Channels]
      operationId: listWorkspaceChannels
      security: [{sessionCookie: []}]
      responses:
        '200': {$ref: '#/components/responses/ChannelList'}
        default: {$ref: '#/components/responses/Problem'}
    post:
      tags: [Channels]
      operationId: createWorkspaceChannelClaim
      summary: Start a verified MAX channel connection for this workspace
      security: [{sessionCookie: []}]
      requestBody:
        required: true
        content:
          application/json:
            schema: {$ref: '#/components/schemas/ChannelConnectInput'}
      responses:
        '201': {$ref: '#/components/responses/ChannelConnectionClaim'}
        default: {$ref: '#/components/responses/Problem'}
  /workspaces/{workspace_id}/channels/connect/start:
    parameters: [{$ref: '#/components/parameters/WorkspaceId'}]
    post:
      tags: [Channels]
      operationId: startWorkspaceChannelConnect
      security: [{sessionCookie: []}]
      requestBody:
        required: true
        content:
          application/json:
            schema: {$ref: '#/components/schemas/ChannelConnectInput'}
      responses:
        '201': {$ref: '#/components/responses/ChannelConnectionClaim'}
        default: {$ref: '#/components/responses/Problem'}
  /workspaces/{workspace_id}/channels/connect/{claim_id}:
    parameters:
      - {$ref: '#/components/parameters/WorkspaceId'}
      - {$ref: '#/components/parameters/ClaimId'}
    get:
      tags: [Channels]
      operationId: getWorkspaceChannelConnect
      security: [{sessionCookie: []}]
      responses:
        '200': {$ref: '#/components/responses/ChannelConnectionClaim'}
        default: {$ref: '#/components/responses/Problem'}
  /workspaces/{workspace_id}/channels/{channel_id}:
    parameters:
      - {$ref: '#/components/parameters/WorkspaceId'}
      - {$ref: '#/components/parameters/ChannelId'}
    get:
      tags: [Channels]
      operationId: getWorkspaceChannel
      security: [{sessionCookie: []}]
      responses:
        '200': {$ref: '#/components/responses/Channel'}
        default: {$ref: '#/components/responses/Problem'}
    patch:
      tags: [Channels]
      operationId: updateWorkspaceChannel
      security: [{sessionCookie: []}]
      requestBody:
        required: true
        content:
          application/json:
            schema: {$ref: '#/components/schemas/ChannelUpdate'}
      responses:
        '200': {$ref: '#/components/responses/Channel'}
        default: {$ref: '#/components/responses/Problem'}
    delete:
      tags: [Channels]
      operationId: deleteWorkspaceChannel
      parameters:
        - name: delete_content
          in: query
          required: false
          description: Delete every local post and campaign item linked to the channel after explicit user confirmation.
          schema: {type: boolean, default: false}
      security: [{sessionCookie: []}]
      responses:
        '204': {description: Channel disconnected}
        default: {$ref: '#/components/responses/Problem'}
  /workspaces/{workspace_id}/channels/{channel_id}/max-info:
    parameters:
      - {$ref: '#/components/parameters/WorkspaceId'}
      - {$ref: '#/components/parameters/ChannelId'}
    post:
      tags: [Channels]
      operationId: updateWorkspaceChannelMaxInfo
      summary: Change the channel photo and title in MAX itself
      description: >-
        Pushes a new icon and/or title to the MAX channel through the Bot API
        and refreshes the cached channel record. At least one of title or file
        is required. The channel description cannot be changed by bots.
      security: [{sessionCookie: []}]
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                title: {type: string, minLength: 1, maxLength: 200}
                file: {type: string, format: binary}
                notify:
                  type: boolean
                  default: false
                  description: Send a MAX system notification about the title or photo change.
      responses:
        '200': {$ref: '#/components/responses/Channel'}
        default: {$ref: '#/components/responses/Problem'}
  /workspaces/{workspace_id}/billing/checkout:
    parameters: [{$ref: '#/components/parameters/WorkspaceId'}]
    post:
      tags: [Billing]
      operationId: createWorkspaceBillingCheckout
      summary: Start an owner-authorized recurring subscription checkout
      security: [{sessionCookie: []}]
      requestBody:
        required: true
        content:
          application/json:
            schema: {$ref: '#/components/schemas/BillingCheckoutRequest'}
      responses:
        '201':
          description: YooKassa hosted checkout
          content:
            application/json:
              schema: {$ref: '#/components/schemas/BillingCheckout'}
        default: {$ref: '#/components/responses/Problem'}
  /workspaces/{workspace_id}/billing/cancellation-intent:
    parameters: [{$ref: '#/components/parameters/WorkspaceId'}]
    post:
      tags: [Billing]
      operationId: createWorkspaceBillingCancellationIntent
      summary: Create the first exact-cancellation confirmation and one-period retention offer
      security: [{sessionCookie: []}]
      responses:
        '200':
          description: Short-lived cancellation intent
          content:
            application/json:
              schema: {$ref: '#/components/schemas/BillingCancellationIntent'}
        default: {$ref: '#/components/responses/Problem'}
  /workspaces/{workspace_id}/billing/retention-offer:
    parameters: [{$ref: '#/components/parameters/WorkspaceId'}]
    post:
      tags: [Billing]
      operationId: acceptWorkspaceBillingRetentionOffer
      security: [{sessionCookie: []}]
      requestBody:
        required: true
        content:
          application/json:
            schema: {$ref: '#/components/schemas/BillingIntentRequest'}
      responses:
        '200': {$ref: '#/components/responses/WorkspaceBilling'}
        default: {$ref: '#/components/responses/Problem'}
  /workspaces/{workspace_id}/billing/cancel-confirm:
    parameters: [{$ref: '#/components/parameters/WorkspaceId'}]
    post:
      tags: [Billing]
      operationId: confirmWorkspaceBillingCancellation
      security: [{sessionCookie: []}]
      requestBody:
        required: true
        content:
          application/json:
            schema: {$ref: '#/components/schemas/BillingIntentRequest'}
      responses:
        '200': {$ref: '#/components/responses/WorkspaceBilling'}
        default: {$ref: '#/components/responses/Problem'}
  /workspaces/{workspace_id}/billing/resume:
    parameters: [{$ref: '#/components/parameters/WorkspaceId'}]
    post:
      tags: [Billing]
      operationId: resumeWorkspaceBillingSubscription
      security: [{sessionCookie: []}]
      responses:
        '200': {$ref: '#/components/responses/WorkspaceBilling'}
        default: {$ref: '#/components/responses/Problem'}
  /workspaces/{workspace_id}/billing/payment-method/detach:
    parameters: [{$ref: '#/components/parameters/WorkspaceId'}]
    post:
      tags: [Billing]
      operationId: detachWorkspaceBillingPaymentMethod
      summary: Irreversibly forget the saved payment method and disable renewal
      security: [{sessionCookie: []}]
      requestBody:
        required: true
        content:
          application/json:
            schema: {$ref: '#/components/schemas/BillingDetachPaymentMethodRequest'}
      responses:
        '200': {$ref: '#/components/responses/WorkspaceBilling'}
        default: {$ref: '#/components/responses/Problem'}
  /workspaces/{workspace_id}/channels/{channel_id}/description/suggest:
    parameters:
      - {$ref: '#/components/parameters/WorkspaceId'}
      - {$ref: '#/components/parameters/ChannelId'}
    post:
      tags: [Channels, AI]
      operationId: suggestWorkspaceChannelDescription
      summary: Suggest three channel description variants
      description: >-
        Uses the workspace channel profile and up to eight recent published
        posts as untrusted editorial context. Nothing is saved or pushed to MAX.
      security: [{sessionCookie: []}]
      requestBody:
        required: true
        content:
          application/json:
            schema: {$ref: '#/components/schemas/ChannelDescriptionSuggestionInput'}
      responses:
        '200':
          description: Suggested descriptions
          content:
            application/json:
              schema: {$ref: '#/components/schemas/ChannelDescriptionSuggestions'}
        default: {$ref: '#/components/responses/Problem'}
  /workspaces/{workspace_id}/channels/{channel_id}/test:
    parameters:
      - {$ref: '#/components/parameters/WorkspaceId'}
      - {$ref: '#/components/parameters/ChannelId'}
    post:
      tags: [Channels]
      operationId: testWorkspaceChannel
      summary: Refresh MAX channel metadata and verify bot permissions
      security: [{sessionCookie: []}]
      responses:
        '200':
          description: Verification result
          content:
            application/json:
              schema: {$ref: '#/components/schemas/TestResult'}
        default: {$ref: '#/components/responses/Problem'}
  /workspaces/{workspace_id}/posts:
    parameters: [{$ref: '#/components/parameters/WorkspaceId'}]
    get:
      tags: [Posts]
      operationId: listWorkspacePosts
      security: [{sessionCookie: []}]
      parameters:
        - name: channel_id
          in: query
          schema: {type: integer, format: int64, minimum: 1}
        - name: status
          in: query
          schema: {$ref: '#/components/schemas/PostStatus'}
      responses:
        '200': {$ref: '#/components/responses/PostList'}
        default: {$ref: '#/components/responses/Problem'}
    post:
      tags: [Posts]
      operationId: createWorkspacePost
      security: [{sessionCookie: []}]
      requestBody:
        required: true
        content:
          application/json:
            schema: {$ref: '#/components/schemas/EditablePost'}
      responses:
        '201': {$ref: '#/components/responses/Post'}
        default: {$ref: '#/components/responses/Problem'}
  /workspaces/{workspace_id}/posts/format-content:
    parameters: [{$ref: '#/components/parameters/WorkspaceId'}]
    post:
      tags: [AI]
      operationId: formatWorkspacePostContent
      security: [{sessionCookie: []}]
      requestBody:
        required: true
        content:
          application/json:
            schema: {$ref: '#/components/schemas/FormatContentInput'}
      responses:
        '200': {description: Formatted content, content: {application/json: {schema: {type: object}}}}
        default: {$ref: '#/components/responses/Problem'}
  /workspaces/{workspace_id}/posts/suggest-image-prompt:
    parameters: [{$ref: '#/components/parameters/WorkspaceId'}]
    post:
      tags: [AI]
      operationId: suggestWorkspaceImagePrompt
      security: [{sessionCookie: []}]
      requestBody:
        required: true
        content:
          application/json:
            schema: {$ref: '#/components/schemas/SuggestImagePromptInput'}
      responses:
        '200': {description: Suggested image prompt, content: {application/json: {schema: {$ref: '#/components/schemas/SuggestedImagePrompt'}}}}
        default: {$ref: '#/components/responses/Problem'}
  /workspaces/{workspace_id}/research/generate:
    parameters: [{$ref: '#/components/parameters/WorkspaceId'}]
    post:
      tags: [AI]
      operationId: generateWorkspaceResearch
      security: [{sessionCookie: []}]
      requestBody:
        required: true
        content:
          application/json:
            schema: {$ref: '#/components/schemas/WorkspaceResearchInput'}
      responses:
        '200': {description: Research result, content: {application/json: {schema: {$ref: '#/components/schemas/ResearchResult'}}}}
        default: {$ref: '#/components/responses/Problem'}
  /workspaces/{workspace_id}/brand-kit:
    parameters: [{$ref: '#/components/parameters/WorkspaceId'}]
    get:
      tags: [Brand]
      operationId: getWorkspaceBrandKit
      security: [{sessionCookie: []}]
      responses:
        '200': {description: Workspace brand kit, content: {application/json: {schema: {$ref: '#/components/schemas/WorkspaceBrandKit'}}}}
        default: {$ref: '#/components/responses/Problem'}
    put:
      tags: [Brand]
      operationId: replaceWorkspaceBrandKit
      security: [{sessionCookie: []}]
      requestBody:
        required: true
        content:
          application/json:
            schema: {$ref: '#/components/schemas/WorkspaceBrandKitUpdate'}
      responses:
        '200': {description: Updated workspace brand kit, content: {application/json: {schema: {$ref: '#/components/schemas/WorkspaceBrandKit'}}}}
        default: {$ref: '#/components/responses/Problem'}
    patch:
      tags: [Brand]
      operationId: updateWorkspaceBrandKit
      security: [{sessionCookie: []}]
      requestBody:
        required: true
        content:
          application/json:
            schema: {$ref: '#/components/schemas/WorkspaceBrandKitUpdate'}
      responses:
        '200': {description: Updated workspace brand kit, content: {application/json: {schema: {$ref: '#/components/schemas/WorkspaceBrandKit'}}}}
        default: {$ref: '#/components/responses/Problem'}
  /workspaces/{workspace_id}/brand-kit/suggest:
    parameters: [{$ref: '#/components/parameters/WorkspaceId'}]
    post:
      tags: [Brand]
      operationId: suggestWorkspaceBrandKit
      summary: Suggest brand kit values from the workspace posts
      description: >-
        Analyzes the workspace's own recent posts (and up to three of their
        images) and returns a Brand Kit draft. Nothing is persisted: the client
        shows the suggestion for review and the user saves it through the
        regular brand kit update endpoint.
      security: [{sessionCookie: []}]
      responses:
        '200': {description: Suggested brand kit values, content: {application/json: {schema: {$ref: '#/components/schemas/BrandKitSuggestion'}}}}
        default: {$ref: '#/components/responses/Problem'}
  /workspaces/{workspace_id}/channel-templates:
    parameters: [{$ref: '#/components/parameters/WorkspaceId'}]
    get:
      tags: [Brand]
      operationId: listWorkspaceChannelTemplates
      security: [{sessionCookie: []}]
      responses:
        '200':
          description: Channel templates
          content:
            application/json:
              schema: {type: array, items: {$ref: '#/components/schemas/ChannelTemplate'}}
        default: {$ref: '#/components/responses/Problem'}
    post:
      tags: [Brand]
      operationId: createWorkspaceChannelTemplate
      security: [{sessionCookie: []}]
      requestBody:
        required: true
        content:
          application/json:
            schema: {$ref: '#/components/schemas/ChannelTemplateCreate'}
      responses:
        '201': {description: Created channel template, content: {application/json: {schema: {$ref: '#/components/schemas/ChannelTemplate'}}}}
        default: {$ref: '#/components/responses/Problem'}
  /workspaces/{workspace_id}/channel-templates/{template_id}:
    parameters:
      - {$ref: '#/components/parameters/WorkspaceId'}
      - {name: template_id, in: path, required: true, schema: {type: integer, format: int64, minimum: 1}}
    get:
      tags: [Brand]
      operationId: getWorkspaceChannelTemplate
      security: [{sessionCookie: []}]
      responses:
        '200': {description: Channel template, content: {application/json: {schema: {$ref: '#/components/schemas/ChannelTemplate'}}}}
        default: {$ref: '#/components/responses/Problem'}
    put:
      tags: [Brand]
      operationId: replaceWorkspaceChannelTemplate
      security: [{sessionCookie: []}]
      requestBody:
        required: true
        content:
          application/json:
            schema: {$ref: '#/components/schemas/ChannelTemplateUpdate'}
      responses:
        '200': {description: Updated channel template, content: {application/json: {schema: {$ref: '#/components/schemas/ChannelTemplate'}}}}
        default: {$ref: '#/components/responses/Problem'}
    patch:
      tags: [Brand]
      operationId: updateWorkspaceChannelTemplate
      security: [{sessionCookie: []}]
      requestBody:
        required: true
        content:
          application/json:
            schema: {$ref: '#/components/schemas/ChannelTemplateUpdate'}
      responses:
        '200': {description: Updated channel template, content: {application/json: {schema: {$ref: '#/components/schemas/ChannelTemplate'}}}}
        default: {$ref: '#/components/responses/Problem'}
    delete:
      tags: [Brand]
      operationId: deleteWorkspaceChannelTemplate
      security: [{sessionCookie: []}]
      parameters:
        - {name: expected_version, in: query, required: true, schema: {type: integer, format: int64, minimum: 1}}
      responses:
        '204': {description: Channel template deleted}
        default: {$ref: '#/components/responses/Problem'}
  /workspaces/{workspace_id}/analytics:
    parameters:
      - {$ref: '#/components/parameters/WorkspaceId'}
      - {name: channel_id, in: query, schema: {oneOf: [{type: integer, format: int64, minimum: 1}, {type: string, const: all}]}}
      - {name: from, in: query, schema: {type: string, format: date}}
      - {name: to, in: query, schema: {type: string, format: date}}
      - {name: tz_offset_minutes, in: query, schema: {type: integer, minimum: -840, maximum: 840}}
    get:
      tags: [Analytics]
      operationId: getWorkspaceContentAnalytics
      security: [{sessionCookie: []}]
      responses:
        '200': {description: Workspace content analytics, content: {application/json: {schema: {$ref: '#/components/schemas/WorkspaceContentAnalyticsEnvelope'}}}}
        default: {$ref: '#/components/responses/Problem'}
  /workspaces/{workspace_id}/analytics/content:
    parameters:
      - {$ref: '#/components/parameters/WorkspaceId'}
      - {name: channel_id, in: query, schema: {oneOf: [{type: integer, format: int64, minimum: 1}, {type: string, const: all}]}}
      - {name: from, in: query, schema: {type: string, format: date}}
      - {name: to, in: query, schema: {type: string, format: date}}
      - {name: tz_offset_minutes, in: query, schema: {type: integer, minimum: -840, maximum: 840}}
    get:
      tags: [Analytics]
      operationId: getWorkspaceContentAnalyticsDetail
      security: [{sessionCookie: []}]
      responses:
        '200': {description: Workspace content analytics, content: {application/json: {schema: {$ref: '#/components/schemas/WorkspaceContentAnalyticsEnvelope'}}}}
        default: {$ref: '#/components/responses/Problem'}
  /workspaces/{workspace_id}/analytics/content/posts/{post_id}:
    parameters:
      - {$ref: '#/components/parameters/WorkspaceId'}
      - {$ref: '#/components/parameters/PostId'}
      - {name: from, in: query, schema: {type: string, format: date}}
      - {name: to, in: query, schema: {type: string, format: date}}
    get:
      tags: [Analytics]
      operationId: getWorkspacePostAnalytics
      security: [{sessionCookie: []}]
      responses:
        '200': {description: Detailed analytics for a workspace post, content: {application/json: {schema: {$ref: '#/components/schemas/WorkspacePostAnalyticsEnvelope'}}}}
        default: {$ref: '#/components/responses/Problem'}
  /workspaces/{workspace_id}/analytics/content/posts/{post_id}/variation:
    parameters:
      - {$ref: '#/components/parameters/WorkspaceId'}
      - {$ref: '#/components/parameters/PostId'}
    post:
      tags: [Analytics]
      operationId: createWorkspaceAnalyticsVariation
      security: [{sessionCookie: []}]
      responses:
        '201': {description: Draft variation, content: {application/json: {schema: {$ref: '#/components/schemas/AnalyticsVariationResult'}}}}
        default: {$ref: '#/components/responses/Problem'}
  /workspaces/{workspace_id}/analytics/content/posts/{post_id}/repeat:
    parameters:
      - {$ref: '#/components/parameters/WorkspaceId'}
      - {$ref: '#/components/parameters/PostId'}
    post:
      tags: [Analytics]
      operationId: createWorkspaceAnalyticsRepeat
      security: [{sessionCookie: []}]
      requestBody:
        required: true
        content:
          application/json:
            schema: {$ref: '#/components/schemas/AnalyticsRepeatInput'}
      responses:
        '201': {description: Durable repeat campaign plan, content: {application/json: {schema: {$ref: '#/components/schemas/AnalyticsRepeatResult'}}}}
        default: {$ref: '#/components/responses/Problem'}
  /workspaces/{workspace_id}/calendar:
    parameters:
      - {$ref: '#/components/parameters/WorkspaceId'}
      - {name: from, in: query, schema: {type: string, format: date-time}}
      - {name: to, in: query, schema: {type: string, format: date-time}}
      - {name: channel_id, in: query, schema: {type: integer, format: int64, minimum: 1}}
    get:
      tags: [Campaigns]
      operationId: listWorkspaceCalendar
      security: [{sessionCookie: []}]
      responses:
        '200':
          description: Posts and campaign variants in the calendar range
          content:
            application/json:
              schema: {type: array, items: {$ref: '#/components/schemas/CalendarItem'}}
        default: {$ref: '#/components/responses/Problem'}
  /workspaces/{workspace_id}/calendar/posts/{post_id}:
    parameters:
      - {$ref: '#/components/parameters/WorkspaceId'}
      - {$ref: '#/components/parameters/PostId'}
    put:
      tags: [Campaigns]
      operationId: rescheduleWorkspaceCalendarPost
      security: [{sessionCookie: []}]
      requestBody:
        required: true
        content:
          application/json:
            schema: {$ref: '#/components/schemas/CalendarRescheduleInput'}
      responses:
        '200': {$ref: '#/components/responses/Post'}
        default: {$ref: '#/components/responses/Problem'}
  /workspaces/{workspace_id}/campaigns:
    parameters: [{$ref: '#/components/parameters/WorkspaceId'}]
    get:
      tags: [Campaigns]
      operationId: listWorkspaceCampaigns
      security: [{sessionCookie: []}]
      parameters:
        - {name: include_archived, in: query, schema: {type: boolean, default: false}}
      responses:
        '200':
          description: Workspace campaigns
          content:
            application/json:
              schema: {type: array, items: {$ref: '#/components/schemas/Campaign'}}
        default: {$ref: '#/components/responses/Problem'}
    post:
      tags: [Campaigns]
      operationId: createWorkspaceCampaign
      security: [{sessionCookie: []}]
      requestBody:
        required: true
        content:
          application/json:
            schema: {$ref: '#/components/schemas/CampaignCreate'}
      responses:
        '201': {description: Created campaign, content: {application/json: {schema: {$ref: '#/components/schemas/Campaign'}}}}
        default: {$ref: '#/components/responses/Problem'}
  /workspaces/{workspace_id}/campaigns/{campaign_id}:
    parameters:
      - {$ref: '#/components/parameters/WorkspaceId'}
      - {name: campaign_id, in: path, required: true, schema: {type: string, minLength: 1, maxLength: 128}}
    get:
      tags: [Campaigns]
      operationId: getWorkspaceCampaign
      security: [{sessionCookie: []}]
      responses:
        '200': {description: Campaign, content: {application/json: {schema: {$ref: '#/components/schemas/Campaign'}}}}
        default: {$ref: '#/components/responses/Problem'}
    patch:
      tags: [Campaigns]
      operationId: updateWorkspaceCampaign
      security: [{sessionCookie: []}]
      requestBody:
        required: true
        content:
          application/json:
            schema: {$ref: '#/components/schemas/CampaignUpdate'}
      responses:
        '200': {description: Updated campaign, content: {application/json: {schema: {$ref: '#/components/schemas/Campaign'}}}}
        default: {$ref: '#/components/responses/Problem'}
    delete:
      tags: [Campaigns]
      operationId: archiveWorkspaceCampaign
      security: [{sessionCookie: []}]
      parameters:
        - {name: expected_updated_at, in: query, required: true, schema: {type: string, format: date-time}}
      responses:
        '204': {description: Campaign archived}
        default: {$ref: '#/components/responses/Problem'}
  /workspaces/{workspace_id}/campaigns/{campaign_id}/variants:
    parameters:
      - {$ref: '#/components/parameters/WorkspaceId'}
      - {name: campaign_id, in: path, required: true, schema: {type: string, minLength: 1, maxLength: 128}}
    post:
      tags: [Campaigns]
      operationId: addWorkspaceCampaignVariants
      security: [{sessionCookie: []}]
      requestBody:
        required: true
        content:
          application/json:
            schema: {$ref: '#/components/schemas/CampaignVariantsAdd'}
      responses:
        '201': {description: Campaign with added variants, content: {application/json: {schema: {$ref: '#/components/schemas/Campaign'}}}}
        default: {$ref: '#/components/responses/Problem'}
  /workspaces/{workspace_id}/campaigns/{campaign_id}/variants/{variant_id}:
    parameters:
      - {$ref: '#/components/parameters/WorkspaceId'}
      - {name: campaign_id, in: path, required: true, schema: {type: string, minLength: 1, maxLength: 128}}
      - {name: variant_id, in: path, required: true, schema: {type: string, minLength: 1, maxLength: 128}}
    patch:
      tags: [Campaigns]
      operationId: updateWorkspaceCampaignVariant
      security: [{sessionCookie: []}]
      requestBody:
        required: true
        content:
          application/json:
            schema: {$ref: '#/components/schemas/CampaignVariantUpdate'}
      responses:
        '200': {description: Updated campaign variant, content: {application/json: {schema: {$ref: '#/components/schemas/CampaignVariant'}}}}
        default: {$ref: '#/components/responses/Problem'}
    delete:
      tags: [Campaigns]
      operationId: deleteWorkspaceCampaignVariant
      security: [{sessionCookie: []}]
      parameters:
        - {name: expected_updated_at, in: query, required: true, schema: {type: string, format: date-time}}
      responses:
        '204': {description: Campaign variant deleted}
        default: {$ref: '#/components/responses/Problem'}
  /workspaces/{workspace_id}/campaigns/{campaign_id}/materialize:
    parameters:
      - {$ref: '#/components/parameters/WorkspaceId'}
      - {name: campaign_id, in: path, required: true, schema: {type: string, minLength: 1, maxLength: 128}}
    post:
      tags: [Campaigns]
      operationId: materializeWorkspaceCampaign
      security: [{sessionCookie: []}]
      requestBody:
        required: true
        content:
          application/json:
            schema: {$ref: '#/components/schemas/CampaignMaterializeInput'}
      responses:
        '200': {description: Materialized campaign drafts, content: {application/json: {schema: {$ref: '#/components/schemas/Campaign'}}}}
        default: {$ref: '#/components/responses/Problem'}
  /workspaces/{workspace_id}/campaigns/{campaign_id}/schedule:
    parameters:
      - {$ref: '#/components/parameters/WorkspaceId'}
      - {name: campaign_id, in: path, required: true, schema: {type: string, minLength: 1, maxLength: 128}}
    post:
      tags: [Campaigns]
      operationId: scheduleWorkspaceCampaign
      security: [{sessionCookie: []}]
      requestBody:
        required: true
        content:
          application/json:
            schema: {$ref: '#/components/schemas/CampaignScheduleInput'}
      responses:
        '200': {description: Atomically scheduled campaign, content: {application/json: {schema: {$ref: '#/components/schemas/Campaign'}}}}
        default: {$ref: '#/components/responses/Problem'}
  /workspaces/{workspace_id}/images/generate:
    parameters: [{$ref: '#/components/parameters/WorkspaceId'}]
    post:
      tags: [AI]
      operationId: generateWorkspaceImage
      security: [{sessionCookie: []}]
      requestBody:
        required: true
        content:
          application/json:
            schema: {$ref: '#/components/schemas/GenerateImageInput'}
      responses:
        '201': {$ref: '#/components/responses/MediaFile'}
        default: {$ref: '#/components/responses/Problem'}
  /workspaces/{workspace_id}/media:
    parameters: [{$ref: '#/components/parameters/WorkspaceId'}]
    post:
      tags: [Posts]
      operationId: uploadWorkspaceMedia
      security: [{sessionCookie: []}]
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required: [file]
              properties:
                file: {type: string, format: binary}
      responses:
        '201': {$ref: '#/components/responses/MediaFile'}
        default: {$ref: '#/components/responses/Problem'}
  /workspaces/{workspace_id}/media/{filename}:
    parameters:
      - {$ref: '#/components/parameters/WorkspaceId'}
      - {$ref: '#/components/parameters/Filename'}
    get:
      tags: [Posts]
      operationId: getWorkspaceMedia
      security: [{sessionCookie: []}]
      responses:
        '200':
          description: Private workspace media bytes
          content:
            image/*: {schema: {type: string, format: binary}}
            video/*: {schema: {type: string, format: binary}}
        default: {$ref: '#/components/responses/Problem'}
  /workspaces/{workspace_id}/posts/{post_id}:
    parameters:
      - {$ref: '#/components/parameters/WorkspaceId'}
      - {$ref: '#/components/parameters/PostId'}
    get:
      tags: [Posts]
      operationId: getWorkspacePost
      security: [{sessionCookie: []}]
      responses:
        '200': {$ref: '#/components/responses/Post'}
        default: {$ref: '#/components/responses/Problem'}
    patch:
      tags: [Posts]
      operationId: updateWorkspacePost
      security: [{sessionCookie: []}]
      requestBody:
        required: true
        content:
          application/json:
            schema: {$ref: '#/components/schemas/PostUpdate'}
      responses:
        '200': {$ref: '#/components/responses/Post'}
        default: {$ref: '#/components/responses/Problem'}
    put:
      tags: [Posts]
      operationId: updateWorkspacePostPut
      description: Legacy alias for PATCH /workspaces/{workspace_id}/posts/{post_id}.
      deprecated: true
      security: [{sessionCookie: []}]
      requestBody:
        required: true
        content:
          application/json:
            schema: {$ref: '#/components/schemas/PostUpdate'}
      responses:
        '200': {$ref: '#/components/responses/Post'}
        default: {$ref: '#/components/responses/Problem'}
    delete:
      tags: [Posts]
      operationId: deleteWorkspacePost
      security: [{sessionCookie: []}]
      responses:
        '204': {description: Post deleted}
        default: {$ref: '#/components/responses/Problem'}
  /workspaces/{workspace_id}/posts/{post_id}/duplicate:
    parameters:
      - {$ref: '#/components/parameters/WorkspaceId'}
      - {$ref: '#/components/parameters/PostId'}
    post:
      tags: [Posts]
      operationId: duplicateWorkspacePost
      security: [{sessionCookie: []}]
      responses:
        '201': {$ref: '#/components/responses/Post'}
        default: {$ref: '#/components/responses/Problem'}
  /workspaces/{workspace_id}/posts/{post_id}/schedule:
    parameters:
      - {$ref: '#/components/parameters/WorkspaceId'}
      - {$ref: '#/components/parameters/PostId'}
    post:
      tags: [Posts]
      operationId: scheduleWorkspacePost
      security: [{sessionCookie: []}]
      requestBody:
        required: true
        content:
          application/json:
            schema: {$ref: '#/components/schemas/PostSchedule'}
      responses:
        '200': {$ref: '#/components/responses/Post'}
        default: {$ref: '#/components/responses/Problem'}
    delete:
      tags: [Posts]
      operationId: cancelWorkspacePostSchedule
      security: [{sessionCookie: []}]
      responses:
        '200': {$ref: '#/components/responses/Post'}
        default: {$ref: '#/components/responses/Problem'}
  /workspaces/{workspace_id}/posts/{post_id}/publish:
    parameters:
      - {$ref: '#/components/parameters/WorkspaceId'}
      - {$ref: '#/components/parameters/PostId'}
    post:
      tags: [Posts]
      operationId: publishWorkspacePost
      description: Requires `posts.publish` and an approved current revision when workspace approval is enabled.
      security: [{sessionCookie: []}]
      responses:
        '200': {$ref: '#/components/responses/Post'}
        default: {$ref: '#/components/responses/Problem'}
  /workspaces/{workspace_id}/posts/{post_id}/update-published:
    parameters:
      - {$ref: '#/components/parameters/WorkspaceId'}
      - {$ref: '#/components/parameters/PostId'}
    post:
      tags: [Posts]
      operationId: updateWorkspacePublishedPost
      summary: Replace the existing MAX publication with the approved current revision
      security: [{sessionCookie: []}]
      responses:
        '200': {$ref: '#/components/responses/Post'}
        default: {$ref: '#/components/responses/Problem'}
  /workspaces/{workspace_id}/posts/{post_id}/sync-max:
    parameters:
      - {$ref: '#/components/parameters/WorkspaceId'}
      - {$ref: '#/components/parameters/PostId'}
    post:
      tags: [Posts]
      operationId: syncWorkspaceMAXPublication
      summary: Refresh URL, views and pin state from MAX
      security: [{sessionCookie: []}]
      responses:
        '200': {$ref: '#/components/responses/Post'}
        default: {$ref: '#/components/responses/Problem'}
  /workspaces/{workspace_id}/posts/{post_id}/pin:
    parameters:
      - {$ref: '#/components/parameters/WorkspaceId'}
      - {$ref: '#/components/parameters/PostId'}
    post:
      tags: [Posts]
      operationId: pinWorkspacePost
      security: [{sessionCookie: []}]
      responses:
        '200': {$ref: '#/components/responses/Post'}
        default: {$ref: '#/components/responses/Problem'}
    delete:
      tags: [Posts]
      operationId: unpinWorkspacePost
      security: [{sessionCookie: []}]
      responses:
        '200': {$ref: '#/components/responses/Post'}
        default: {$ref: '#/components/responses/Problem'}
  /workspaces/{workspace_id}/posts/{post_id}/publication:
    parameters:
      - {$ref: '#/components/parameters/WorkspaceId'}
      - {$ref: '#/components/parameters/PostId'}
    delete:
      tags: [Posts]
      operationId: deleteWorkspacePublication
      summary: Delete the MAX message while preserving the local post and view history
      security: [{sessionCookie: []}]
      responses:
        '200': {$ref: '#/components/responses/Post'}
        default: {$ref: '#/components/responses/Problem'}
  /workspaces/{workspace_id}/posts/{post_id}/view-history:
    parameters:
      - {$ref: '#/components/parameters/WorkspaceId'}
      - {$ref: '#/components/parameters/PostId'}
    get:
      tags: [Posts]
      operationId: getWorkspacePostViewHistory
      security: [{sessionCookie: []}]
      parameters:
        - name: limit
          in: query
          schema: {type: integer, minimum: 1, maximum: 1000, default: 500}
        - name: before
          in: query
          schema: {type: string, format: date-time}
      responses:
        '200':
          description: Newest-first immutable MAX view observations
          content:
            application/json:
              schema:
                type: array
                items: {$ref: '#/components/schemas/PostViewSnapshot'}
        default: {$ref: '#/components/responses/Problem'}
  /workspaces/{workspace_id}/posts/{post_id}/generate-image:
    parameters:
      - {$ref: '#/components/parameters/WorkspaceId'}
      - {$ref: '#/components/parameters/PostId'}
    post:
      tags: [AI]
      operationId: generateWorkspacePostImage
      summary: Generate and attach an image to a workspace post
      security: [{sessionCookie: []}]
      requestBody:
        required: true
        content:
          application/json:
            schema: {$ref: '#/components/schemas/GeneratePostImageInput'}
      responses:
        '200': {$ref: '#/components/responses/Post'}
        default: {$ref: '#/components/responses/Problem'}
  /workspaces/{workspace_id}/posts/{post_id}/image:
    parameters:
      - {$ref: '#/components/parameters/WorkspaceId'}
      - {$ref: '#/components/parameters/PostId'}
    post:
      tags: [Posts]
      operationId: uploadWorkspacePostImage
      summary: Upload and attach an image to a workspace post
      security: [{sessionCookie: []}]
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required: [file]
              properties:
                file: {type: string, format: binary}
      responses:
        '200': {$ref: '#/components/responses/Post'}
        default: {$ref: '#/components/responses/Problem'}
  /workspaces/{workspace_id}/posts/{post_id}/attachments:
    parameters:
      - {$ref: '#/components/parameters/WorkspaceId'}
      - {$ref: '#/components/parameters/PostId'}
    post:
      tags: [Posts]
      operationId: uploadWorkspacePostAttachment
      security: [{sessionCookie: []}]
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema: {$ref: '#/components/schemas/AttachmentUpload'}
      responses:
        '201': {$ref: '#/components/responses/PostAttachmentMutation'}
        default: {$ref: '#/components/responses/Problem'}
  /workspaces/{workspace_id}/posts/{post_id}/attachments/{attachment_id}:
    parameters:
      - {$ref: '#/components/parameters/WorkspaceId'}
      - {$ref: '#/components/parameters/PostId'}
      - {$ref: '#/components/parameters/AttachmentId'}
    put:
      tags: [Posts]
      operationId: replaceWorkspacePostAttachment
      security: [{sessionCookie: []}]
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema: {$ref: '#/components/schemas/AttachmentUpload'}
      responses:
        '200': {$ref: '#/components/responses/PostAttachmentMutation'}
        default: {$ref: '#/components/responses/Problem'}
    delete:
      tags: [Posts]
      operationId: deleteWorkspacePostAttachment
      security: [{sessionCookie: []}]
      responses:
        '200': {$ref: '#/components/responses/Post'}
        default: {$ref: '#/components/responses/Problem'}
  /workspaces/{workspace_id}/posts/{post_id}/attachments/order:
    parameters:
      - {$ref: '#/components/parameters/WorkspaceId'}
      - {$ref: '#/components/parameters/PostId'}
    patch:
      tags: [Posts]
      operationId: reorderWorkspacePostAttachments
      security: [{sessionCookie: []}]
      requestBody:
        required: true
        content:
          application/json:
            schema: {$ref: '#/components/schemas/AttachmentOrder'}
      responses:
        '200': {$ref: '#/components/responses/Post'}
        default: {$ref: '#/components/responses/Problem'}
  /workspaces/{workspace_id}/posts/{post_id}/revisions:
    parameters:
      - {$ref: '#/components/parameters/WorkspaceId'}
      - {$ref: '#/components/parameters/PostId'}
    get:
      tags: [Collaboration]
      operationId: listWorkspacePostRevisions
      security: [{sessionCookie: []}]
      responses:
        '200': {$ref: '#/components/responses/PostRevisionList'}
        default: {$ref: '#/components/responses/Problem'}
  /workspaces/{workspace_id}/posts/{post_id}/reviews:
    parameters:
      - {$ref: '#/components/parameters/WorkspaceId'}
      - {$ref: '#/components/parameters/PostId'}
    get:
      tags: [Collaboration]
      operationId: listWorkspacePostReviews
      security: [{sessionCookie: []}]
      responses:
        '200': {$ref: '#/components/responses/PostReviewList'}
        default: {$ref: '#/components/responses/Problem'}
  /workspaces/{workspace_id}/posts/{post_id}/review:
    parameters:
      - {$ref: '#/components/parameters/WorkspaceId'}
      - {$ref: '#/components/parameters/PostId'}
    post:
      tags: [Collaboration]
      operationId: submitWorkspacePostReviewLegacy
      description: Legacy alias for POST /workspaces/{workspace_id}/posts/{post_id}/review/submit.
      deprecated: true
      security: [{sessionCookie: []}]
      responses:
        '200': {$ref: '#/components/responses/PostReviewSubmission'}
        default: {$ref: '#/components/responses/Problem'}
  /workspaces/{workspace_id}/posts/{post_id}/review/submit:
    parameters:
      - {$ref: '#/components/parameters/WorkspaceId'}
      - {$ref: '#/components/parameters/PostId'}
    post:
      tags: [Collaboration]
      operationId: submitWorkspacePostReview
      security: [{sessionCookie: []}]
      responses:
        '200': {$ref: '#/components/responses/PostReviewSubmission'}
        default: {$ref: '#/components/responses/Problem'}
  /workspaces/{workspace_id}/posts/{post_id}/review/approve:
    parameters:
      - {$ref: '#/components/parameters/WorkspaceId'}
      - {$ref: '#/components/parameters/PostId'}
    post:
      tags: [Collaboration]
      operationId: approveWorkspacePostReview
      security: [{sessionCookie: []}]
      requestBody:
        required: true
        content:
          application/json:
            schema: {$ref: '#/components/schemas/PostReviewDecisionInput'}
      responses:
        '201': {$ref: '#/components/responses/PostReview'}
        default: {$ref: '#/components/responses/Problem'}
  /workspaces/{workspace_id}/posts/{post_id}/review/request-changes:
    parameters:
      - {$ref: '#/components/parameters/WorkspaceId'}
      - {$ref: '#/components/parameters/PostId'}
    post:
      tags: [Collaboration]
      operationId: requestWorkspacePostChanges
      security: [{sessionCookie: []}]
      requestBody:
        required: true
        content:
          application/json:
            schema: {$ref: '#/components/schemas/PostReviewDecisionInput'}
      responses:
        '201': {$ref: '#/components/responses/PostReview'}
        default: {$ref: '#/components/responses/Problem'}
  /workspaces/{workspace_id}/posts/{post_id}/reviews/{revision_id}/decision:
    parameters:
      - {$ref: '#/components/parameters/WorkspaceId'}
      - {$ref: '#/components/parameters/PostId'}
      - {$ref: '#/components/parameters/RevisionId'}
    post:
      tags: [Collaboration]
      operationId: decideWorkspacePostReview
      security: [{sessionCookie: []}]
      requestBody:
        required: true
        content:
          application/json:
            schema: {$ref: '#/components/schemas/PostReviewDecisionInput'}
      responses:
        '201': {$ref: '#/components/responses/PostReview'}
        default: {$ref: '#/components/responses/Problem'}
  /workspaces/{workspace_id}/posts/{post_id}/comments:
    parameters:
      - {$ref: '#/components/parameters/WorkspaceId'}
      - {$ref: '#/components/parameters/PostId'}
    get:
      tags: [Collaboration]
      operationId: listWorkspacePostComments
      security: [{sessionCookie: []}]
      responses:
        '200': {$ref: '#/components/responses/PostCommentList'}
        default: {$ref: '#/components/responses/Problem'}
    post:
      tags: [Collaboration]
      operationId: createWorkspacePostComment
      security: [{sessionCookie: []}]
      requestBody:
        required: true
        content:
          application/json:
            schema: {$ref: '#/components/schemas/PostCommentCreate'}
      responses:
        '201': {$ref: '#/components/responses/PostComment'}
        default: {$ref: '#/components/responses/Problem'}
  /workspaces/{workspace_id}/posts/{post_id}/comments/{comment_id}:
    parameters:
      - {$ref: '#/components/parameters/WorkspaceId'}
      - {$ref: '#/components/parameters/PostId'}
      - {$ref: '#/components/parameters/CommentId'}
    patch:
      tags: [Collaboration]
      operationId: resolveWorkspacePostComment
      security: [{sessionCookie: []}]
      requestBody:
        required: true
        content:
          application/json:
            schema: {$ref: '#/components/schemas/PostCommentResolve'}
      responses:
        '200': {$ref: '#/components/responses/PostComment'}
        default: {$ref: '#/components/responses/Problem'}
    delete:
      tags: [Collaboration]
      operationId: deleteWorkspacePostComment
      security: [{sessionCookie: []}]
      responses:
        '204': {description: Comment deleted}
        default: {$ref: '#/components/responses/Problem'}
  /notifications:
    get:
      tags: [Notifications]
      operationId: listNotifications
      security: [{sessionCookie: []}]
      parameters:
        - {name: workspace_id, in: query, schema: {type: string}}
        - {name: unread_only, in: query, schema: {type: boolean, default: false}}
        - {$ref: '#/components/parameters/Limit'}
        - {$ref: '#/components/parameters/BeforeId'}
      responses:
        '200': {$ref: '#/components/responses/NotificationList'}
        default: {$ref: '#/components/responses/Problem'}
    patch:
      tags: [Notifications]
      operationId: markAllNotificationsRead
      security: [{sessionCookie: []}]
      requestBody:
        required: true
        content:
          application/json:
            schema: {$ref: '#/components/schemas/NotificationsReadInput'}
      responses:
        '200': {description: Number updated, content: {application/json: {schema: {type: object}}}}
        default: {$ref: '#/components/responses/Problem'}
  /notifications/{notification_id}:
    parameters: [{$ref: '#/components/parameters/NotificationId'}]
    patch:
      tags: [Notifications]
      operationId: markNotificationRead
      security: [{sessionCookie: []}]
      responses:
        '200': {$ref: '#/components/responses/Notification'}
        default: {$ref: '#/components/responses/Problem'}
  /images/generate:
    post:
      tags: [AI]
      operationId: generateImage
      summary: Generate an image in the personal workspace
      description: Legacy personal-workspace alias. New clients should use the workspace-scoped endpoint.
      deprecated: true
      security:
        - sessionCookie: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenerateImageInput'
      responses:
        '201': {$ref: '#/components/responses/MediaFile'}
        default: {$ref: '#/components/responses/Problem'}
  /research/generate:
    post:
      tags: [AI]
      operationId: generateResearch
      summary: Research a topic and prepare a post draft
      security:
        - sessionCookie: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ResearchInput'
      responses:
        '200':
          description: Research result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResearchResult'
        default:
          $ref: '#/components/responses/Problem'
  /integration/max:
    get:
      tags: [Integration]
      operationId: getMaxIntegration
      security:
        - sessionCookie: []
      responses:
        '200':
          description: MAX integration status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IntegrationStatus'
        default:
          $ref: '#/components/responses/Problem'
  /integration/max/test:
    post:
      tags: [Integration]
      operationId: testMaxIntegration
      security:
        - sessionCookie: []
      responses:
        '200':
          description: Integration test result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TestResult'
        default:
          $ref: '#/components/responses/Problem'
  /integrations/max:
    get:
      tags: [Integration]
      operationId: getMaxIntegrationLegacy
      description: Legacy alias for GET /integration/max.
      deprecated: true
      security:
        - sessionCookie: []
      responses:
        '200':
          description: MAX integration status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IntegrationStatus'
        default:
          $ref: '#/components/responses/Problem'
  /integrations/max/test:
    post:
      tags: [Integration]
      operationId: testMaxIntegrationLegacy
      description: Legacy alias for POST /integration/max/test.
      deprecated: true
      security:
        - sessionCookie: []
      responses:
        '200':
          description: Integration test result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TestResult'
        default:
          $ref: '#/components/responses/Problem'
  /integration/max/identity:
    get:
      tags: [Integration]
      operationId: getMaxIdentity
      security:
        - sessionCookie: []
      responses:
        '200':
          description: MAX identity status
          content:
            application/json:
              schema:
                type: object
                required: [identity]
                properties:
                  identity:
                    $ref: '#/components/schemas/MaxIdentity'
        default:
          $ref: '#/components/responses/Problem'
    post:
      tags: [Integration]
      operationId: startMaxIdentityLink
      security:
        - sessionCookie: []
      responses:
        '201':
          description: MAX identity link attempt
          content:
            application/json:
              schema:
                type: object
                required: [identity]
                properties:
                  identity:
                    $ref: '#/components/schemas/MaxIdentity'
        default:
          $ref: '#/components/responses/Problem'
components:
  securitySchemes:
    sessionCookie:
      type: apiKey
      in: cookie
      name: maxstudio_session
  parameters:
    Id:
      name: id
      in: path
      required: true
      schema:
        type: integer
        format: int64
        minimum: 1
    RequestId:
      name: request_id
      in: path
      required: true
      schema:
        type: string
        maxLength: 128
        pattern: '^[A-Za-z0-9_-]+$'
    AttachmentId:
      name: attachment_id
      in: path
      required: true
      schema:
        type: integer
        format: int64
        minimum: 1
    WorkspaceId:
      name: workspace_id
      in: path
      required: true
      schema: {type: string, minLength: 1, maxLength: 128}
    UserId:
      name: user_id
      in: path
      required: true
      schema: {type: string, minLength: 1, maxLength: 256}
    InvitationId:
      name: invitation_id
      in: path
      required: true
      schema: {type: string, minLength: 1, maxLength: 128}
    InvitationToken:
      name: token
      in: path
      required: true
      schema: {type: string, minLength: 32, maxLength: 256}
    ChannelId:
      name: channel_id
      in: path
      required: true
      schema: {type: integer, format: int64, minimum: 1}
    ClaimId:
      name: claim_id
      in: path
      required: true
      schema: {type: string, minLength: 1, maxLength: 128}
    PostId:
      name: post_id
      in: path
      required: true
      schema: {type: integer, format: int64, minimum: 1}
    RevisionId:
      name: revision_id
      in: path
      required: true
      schema: {type: integer, format: int64, minimum: 1}
    CommentId:
      name: comment_id
      in: path
      required: true
      schema: {type: integer, format: int64, minimum: 1}
    NotificationId:
      name: notification_id
      in: path
      required: true
      schema: {type: integer, format: int64, minimum: 1}
    Filename:
      name: filename
      in: path
      required: true
      schema: {type: string, minLength: 1, maxLength: 512}
    Limit:
      name: limit
      in: query
      schema: {type: integer, minimum: 1, maximum: 100, default: 50}
    BeforeId:
      name: before_id
      in: query
      schema: {type: integer, format: int64, minimum: 1}
  responses:
    Problem:
      description: Request failed
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ProblemEnvelope'
    Post:
      description: Updated post
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Post'
    PostAttachment:
      description: Uploaded or replaced attachment
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/PostAttachment'
    PostAttachmentMutation:
      description: Uploaded or replaced attachment together with the latest post revision
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/PostAttachmentMutation'
    WorkspaceEnvelope:
      description: Workspace and authoritative access context
      content: {application/json: {schema: {$ref: '#/components/schemas/WorkspaceEnvelope'}}}
    WorkspaceBilling:
      description: Workspace billing state with owner-scoped actions
      content: {application/json: {schema: {$ref: '#/components/schemas/WorkspaceBilling'}}}
    WorkspaceList:
      description: Available workspaces
      content: {application/json: {schema: {type: array, items: {$ref: '#/components/schemas/WorkspaceEnvelope'}}}}
    WorkspaceMember:
      description: Workspace member
      content: {application/json: {schema: {$ref: '#/components/schemas/WorkspaceMember'}}}
    WorkspaceMemberList:
      description: Workspace members
      content: {application/json: {schema: {type: array, items: {$ref: '#/components/schemas/WorkspaceMember'}}}}
    WorkspaceInvitationList:
      description: Workspace invitations without bearer secrets
      content: {application/json: {schema: {type: array, items: {$ref: '#/components/schemas/WorkspaceInvitation'}}}}
    WorkspaceInvitationSecret:
      description: Newly created invitation with one-time bearer token
      content: {application/json: {schema: {$ref: '#/components/schemas/WorkspaceInvitationSecret'}}}
    Channel:
      description: Workspace channel
      content: {application/json: {schema: {$ref: '#/components/schemas/Channel'}}}
    ChannelList:
      description: Workspace channels
      content: {application/json: {schema: {type: array, items: {$ref: '#/components/schemas/Channel'}}}}
    ChannelConnectionClaim:
      description: Channel ownership verification claim
      content: {application/json: {schema: {$ref: '#/components/schemas/ChannelConnectionClaim'}}}
    PostList:
      description: Workspace posts
      content: {application/json: {schema: {type: array, items: {$ref: '#/components/schemas/Post'}}}}
    MediaFile:
      description: Private workspace media metadata
      content: {application/json: {schema: {$ref: '#/components/schemas/MediaFile'}}}
    PostRevisionList:
      description: Immutable post revisions
      content: {application/json: {schema: {type: array, items: {$ref: '#/components/schemas/PostRevision'}}}}
    PostReviewSubmission:
      description: Submitted current revision
      content: {application/json: {schema: {$ref: '#/components/schemas/PostReviewSubmission'}}}
    PostReview:
      description: Review decision
      content: {application/json: {schema: {$ref: '#/components/schemas/PostReview'}}}
    PostReviewList:
      description: Review decisions
      content: {application/json: {schema: {type: array, items: {$ref: '#/components/schemas/PostReview'}}}}
    PostComment:
      description: Post comment
      content: {application/json: {schema: {$ref: '#/components/schemas/PostComment'}}}
    PostCommentList:
      description: Post comments
      content: {application/json: {schema: {type: array, items: {$ref: '#/components/schemas/PostComment'}}}}
    AuditEventList:
      description: Workspace audit events
      content: {application/json: {schema: {type: array, items: {$ref: '#/components/schemas/AuditEvent'}}}}
    Notification:
      description: User notification
      content: {application/json: {schema: {$ref: '#/components/schemas/Notification'}}}
    NotificationList:
      description: User notifications
      content: {application/json: {schema: {type: array, items: {$ref: '#/components/schemas/Notification'}}}}
  schemas:
    ProblemEnvelope:
      type: object
      required: [error]
      properties:
        error:
          $ref: '#/components/schemas/Problem'
    Problem:
      type: object
      required: [code, message]
      properties:
        code:
          type: string
        message:
          type: string
        details: {}
    LoginStart:
      type: object
      required: [return_to, terms_accepted, personal_data_accepted]
      properties:
        return_to:
          type: string
          maxLength: 1024
        terms_accepted:
          type: boolean
          const: true
        personal_data_accepted:
          type: boolean
          const: true
    AuthMethod:
      type: string
      enum: [none, yandex, max]
    AuthProvider:
      type: string
      enum: [yandex, max]
    AuthUser:
      type: object
      required: [id, provider, display_name]
      properties:
        id:
          type: string
        provider:
          $ref: '#/components/schemas/AuthProvider'
        display_name:
          type: string
        login:
          type: string
        avatar_url:
          type: string
          format: uri
    HealthStatus:
      type: object
      required:
        - status
        - max_configured
        - openai_configured
        - auth_required
        - authenticated
      properties:
        status:
          type: string
          const: ok
        max_configured:
          type: boolean
        openai_configured:
          type: boolean
        research_configured:
          type: boolean
        content_formatting_configured:
          type: boolean
        observability_access:
          type: boolean
        auth_required:
          type: boolean
        authenticated:
          type: boolean
        auth_methods:
          type: object
          properties:
            yandex:
              type: boolean
            max:
              type: boolean
        auth_method:
          $ref: '#/components/schemas/AuthMethod'
        user:
          oneOf:
            - $ref: '#/components/schemas/AuthUser'
            - type: 'null'
        session_expires_at:
          type: [string, 'null']
          format: date-time
    MaxLoginStatus:
      type: string
      enum: [pending, awaiting_contact, authenticated, expired, canceled, failed]
    MaxLoginAttempt:
      type: object
      required: [request_id, status]
      properties:
        request_id:
          type: string
        status:
          $ref: '#/components/schemas/MaxLoginStatus'
        bot_url:
          type: [string, 'null']
          format: uri
        comparison_code:
          type: [string, 'null']
          pattern: '^\d{6}$'
        expires_at:
          type: [string, 'null']
          format: date-time
        error_code:
          type: [string, 'null']
        message:
          type: [string, 'null']
        is_new_user:
          type: boolean
          description: True only in the response that creates a new local account.
    WorkspaceCapability:
      type: string
      enum:
        - workspace.read
        - workspace.update
        - workspace.delete
        - members.read
        - members.manage
        - invitations.read
        - invitations.manage
        - channels.read
        - channels.manage
        - posts.read
        - posts.write
        - posts.delete
        - media.read
        - media.write
        - ai.use
        - comments.read
        - comments.write
        - comments.resolve
        - review.submit
        - review.decide
        - posts.publish
        - audit.read
        - notifications.read
        - notifications.manage
    WorkspaceRole:
      type: string
      enum: [owner, editor, approver, viewer]
    Workspace:
      type: object
      required:
        - id
        - name
        - owner_user_id
        - is_personal
        - approval_required
        - require_distinct_approver
        - created_at
        - updated_at
      properties:
        id: {type: string}
        name: {type: string, minLength: 1, maxLength: 120}
        owner_user_id: {type: string}
        is_personal: {type: boolean}
        approval_required: {type: boolean}
        require_distinct_approver: {type: boolean}
        created_by: {type: string}
        created_at: {type: string, format: date-time}
        updated_at: {type: string, format: date-time}
        archived_at: {type: [string, 'null'], format: date-time}
    WorkspaceAccess:
      type: object
      required: [workspace_id, role, capabilities]
      properties:
        workspace_id: {type: string}
        role: {$ref: '#/components/schemas/WorkspaceRole'}
        capabilities:
          type: array
          uniqueItems: true
          items: {$ref: '#/components/schemas/WorkspaceCapability'}
    WorkspaceEnvelope:
      type: object
      required: [workspace, access]
      properties:
        workspace: {$ref: '#/components/schemas/Workspace'}
        access: {$ref: '#/components/schemas/WorkspaceAccess'}
    BillingPlan:
      type: object
      required:
        - code
        - version
        - catalog_version
        - name
        - description
        - currency_code
        - monthly_price_minor
        - billing_interval
        - public
        - available
      properties:
        code: {type: string, pattern: '^[a-z][a-z0-9_]{0,31}$'}
        version: {type: integer, minimum: 1}
        catalog_version: {type: string, format: date}
        name: {type: string, minLength: 1}
        description: {type: string}
        currency_code: {type: string, pattern: '^[A-Z]{3}$', example: RUB}
        monthly_price_minor:
          type: integer
          format: int64
          minimum: 0
          description: Monthly price in minor currency units; kopecks for RUB.
        billing_interval: {type: string, enum: [month]}
        public: {type: boolean}
        available: {type: boolean}
    BillingEntitlement:
      type: object
      required: [key, usage_metric, limit, limit_base_units, unit, period, unit_scale, hard_limit]
      properties:
        key: {type: string, pattern: '^[a-z][a-z0-9_]{0,63}$'}
        usage_metric:
          type: string
          pattern: '^[a-z][a-z0-9_]{0,63}$'
          description: Base-unit metric used by the usage ledger.
        limit: {type: integer, format: int64, minimum: 0}
        limit_base_units:
          type: integer
          format: int64
          minimum: 0
          description: limit multiplied by unit_scale; authoritative for hard enforcement.
        unit:
          type: string
          description: User-facing unit such as channel, seat, byte, request or medium_equivalent_image.
        period: {type: string, enum: [current, month]}
        unit_scale:
          type: integer
          format: int64
          minimum: 1
          description: |
            Ledger base units in one displayed unit. ai_images_monthly uses 9:
            low=1 credit, medium/default=9 and high=36.
        hard_limit: {type: boolean}
    BillingCatalogEntry:
      type: object
      required:
        - plan
        - entitlements
        - checkout_enabled
        - recurring_consent_text
        - recurring_consent_version
        - recurring_consent_terms_version
        - recurring_consent_terms_url
      properties:
        plan: {$ref: '#/components/schemas/BillingPlan'}
        checkout_enabled:
          type: boolean
          description: Default-off server capability; false keeps pricing visible without accepting payments.
        recurring_consent_text:
          type: string
[...]
